{% if template contains 'account' or template contains 'addresses' or template contains 'order' %}
  {% capture page_sidebar_html %}

    {% comment %} Customer Account sidebar menu {% endcomment %}
    <h4 class="account-sidebar__title">{{ customer.first_name }} {{ customer.last_name }}</h4>
    <div class="d-block d-lg-none">
      <div class="form-group">
        <div class="dropdown">
          <select class="form-control">
            <option value="/account" {% if template.name == 'account' and template.suffix == blank %}selected="selected"{% endif %}>{{ 'customer.account.account_details' | t }}</option>
            <option value="/account?view=orders" {% if template.name == 'account' and template.suffix == 'orders' %}selected="selected"{% endif %}>{{ 'customer.orders.title' | t }}</option>
            <option value="/account/addresses" {% if template.name == 'addresses' %}selected="selected"{% endif %}>{{ 'customer.account.addresses' | t }}</option>
            <option value="/account/logout">{{ 'layout.customer.log_out' | t }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <ul class="account-sidebar__menu">
          <li class="h5{% if template.name == 'account' and template.suffix == blank %} is-active{% endif %}">
            <a href="/account">{{ 'customer.account.account_details' | t }}</a>
          </li>
          <li class="h5{% if template.name == 'account' and template.suffix == 'orders' %} is-active{% endif %}">
            <a href="/account?view=orders">{{ 'customer.orders.title' | t }}</a>
          </li>
          <li class="h5{% if template.name == 'addresses' %} is-active{% endif %}">
            <a href="/account/addresses">{{ 'customer.account.addresses' | t }}</a>
          </li>
          <li class="h5">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
      </ul>
    </div>
  {% endcapture %}

{% endif %}

{% assign page_sidebar_html = page_sidebar_html | strip %}
{% if page_sidebar_html != blank %}
  <div class="account-sidebar col-md-9" data-account-sidebar>
    <div class="account-sidebar__content">
      {{ page_sidebar_html }}
    </div>
  </div>
{% endif %}
