{% assign current_variant = product.selected_variant | default: product.variant[0] %}
{% for option in product.options_with_values %}
  {% assign option_lowercase = option.name | downcase %}
  {% if option_lowercase == "color"  %}
    {% assign color_index = forloop.index %}
  {% endif %}

  {% if option_lowercase == "size" %}
    {% assign size_index = forloop.index %}
  {% endif %}
{% endfor %}
<div class="data-bis-container" data-section-type="bis-drawer" data-section-id="{{section.id}}">
  <div class="drawer drawer--right bis__container" data-drawer>
    <div class="drawer__inner bis__inner">
      <div class="drawer__header bis__header">
        <div class="drawer__header-title bis__title">
          Notify
        </div>
        <button class="drawer__close bis__close" data-drawer-close>
          {% render 'icon-close' %}
        </button>
      </div>
      <div class="drawer__body-contents bis__body">
        <div class="bis__featured-image-container frame frame--1x1">
          <div class="sticker sticker--medium bis__sticker">
            <span class="sticker__text">Notify<br>Me</span>
          </div>
          <img data-src="{{product.selected_or_first_available_variant.featured_image | img_url: '600x'}}" alt="{{product.selected_or_first_available_variant.featured_image.alt}}" data-bis-featured-image class="bis__featured-image lazyload">
        </div>

        <div class="bis__body-info">
          {% assign color_handle = "option" | append: color_index %}
          {% assign size_handle = "option" | append: size_index %}
          {% capture product_name %}
            <span data-bis-product-name>{{ product.title }}</span>
          {% endcapture %}
          {% capture current_color %}
            <span class="bis__highlighted-text" data-bis-variant-color>{{ current_variant[color_handle] }}</span>
          {% endcapture %}
          {% capture current_size %}
            <span class="bis__highlighted-text" data-bis-variant-size>{{current_variant[size_handle]}}</span>
          {% endcapture %}
          {{ section.settings.bis_notify_text | replace: '[[product]]', product_name | replace: '[[color]]', current_color | replace: '[[size]]', current_size}}
        </div>

        <form action="/" class="bis__form"
              data-bis-form data-api-key="{{settings.klaviyo_api_key}}"
              data-success-message="{{section.settings.bis_success_message}}"
              data-error-message="{{section.settings.bis_error_message}}">
          <input data-bis-variant-id name="variant-id" type="hidden" value="{{current_variant.id}}">
          <div class="minimal-input-box">
            <input class="bis__input minimal-input-box__input" name="email" placeholder="What's your email?" type="email" required data-bis-email-input>
            <button class="bis__submit minimal-input-box__submit" type="submit">
              {% render 'icon-arrow' %}
              <span class="icon-fallback-text">Submit</span>
            </button>
          </div>
        </form>
        <div class="bis__response-message" data-bis-response-message>

        </div>
        <p class="bis__footer-info">
          By submitting your email you are agreeing to our
          <a class="cta" href="{{section.settings.bis_tos_link}}">Terms of Service</a>
          and our
          <a class="cta" href="{{section.settings.bis_privacy_policy_link}}">Privacy Policy</a>.<br>
          You may unsubscribe at anytime.
        </p>
      </div>
    </div>
  </div>
</div>