{%- comment %}

  Collection Filters
  ------------------------------------------------------------------------------

  Usage:

  {% include 'collection-filters',
              filter_types: { array } - ['color:Red, color:Dark Green, style:Polo']
  %}

  It looks through all the tags looking for certain tags that will become filters.

  The tags used for filters are the ones that start with the filter_types passed in.

  Tags are case-sensitive, so we will not do any transformation to them for filtering and transform them only for presentational purpose (capitalize).

{% endcomment -%}

{% unless collection == empty %}

  {% assign all_tags =  collections['all'].all_tags %}
  {% comment %} Capture the tags matchign with the color filter{% endcomment %}
  {% for tag in all_tags %}
    {% if tag contains 'color' %}
      {% if color_list != blank %}
        {% assign color_list = color_list | append: ', ' | append: tag %}
      {% else %}
        {% assign color_list = tag %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign color_array = color_list | split: ', ' %}

  {% comment %} If we have any select tags, output them here {% endcomment %}
  {% if size_filters != blank %}
    <div class="collection-filter__group">
      <span class="collection-filter__group-header h5">Size:</span>
      <div class="dots">
        {% assign size_array = size_filters | split: ',' %}
        {% for filter in size_array %}
          {% assign filter_structure = 'size:' | append: filter | remove: ' ' %}
          <div class="dot {% if current_tags contains filter_structure %} is-active{% endif %}" title="Size {{ filter | upcase }}" data-value="{{filter_structure}}">
            <div class="dot__inner">
              {{filter}}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if color_array != blank %}
    <div class="collection-filter__group">
      <span class="collection-filter__group-header h5">Color:</span>
      <div class="dots dots--color">
        {% for color in color_array %}
          {% assign color_parts = color | split: ':' %}
          {% assign color_title = color_parts[1] %}
          {% if current_tags contains color %}
            {% assign chosen_color = color %}
          {% endif %}
          <div class="dot dot--{{ color_title | handleize }} {% if chosen_color == color %} is-active{% endif %}" title="{{ color_title | replace: '-', ' ' | capitalize | strip }}" data-value="{{ color | handleize }}">
            <div class="dot__inner">
              {% include 'icon-check' %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="small" {% if chosen_color == blank %}style="display:none;" {% endif %}>
        <b>Chosen color: </b>
        <span data-chosen-color>{{ chosen_color | remove: 'color:' | capitalize }}</span>
      </div>
    </div>
  {% endif %}
{% endunless %}
