{% assign eyebrow = product.metafields.custom_fields["ctl_eyebrow"] %}
{% assign title = product.metafields.custom_fields["ctl_title"] %}

{% if product.metafields.custom_fields["ctl_duration"] == blank %}
  {% assign animation = 20 | append: 's'%}
{% else %}
  {% assign animation = product.metafields.custom_fields["ctl_duration"] | append: 's'%}
{% endif %}

{% assign animation_delay = product.metafields.custom_fields["ctl_duration"] | divided_by: 2.0 | append: 's' | prepend: '-' %}

{% if product.metafields.custom_fields["complete_the_look"] != blank %}
  {% assign separator = "|###|" %}
  {% assign product_array = product.metafields.custom_fields["product"] | split: separator %}
  {% assign fc_keys = product.metafields.custom_fields["complete_the_look"] | split: "," %}

  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    <style>
      .complete-the-look {
        background-color: #F1F1F1;
      }
    </style>
  {% endif %}

  <div class="complete-the-look" data-section-type="complete-the-look" data-animated-background="#F1F1F1">
    <div class="container-fluid">
      <div class="row row--eyebrow justify-content-center row-adjusted">
        {% if eyebrow != blank %}
          <span class="ctl__eyebrow h5 col-lg-22 col-20 offset-2 offset-lg-1">{{ eyebrow }}</span>
        {% endif %}
      </div>

      {% if title != blank %}
        <div class="ctl-title-wrapper col-24">
          <h2 class="ctl__title h1">
            <span style="animation-duration: {{ animation }};">{{ title | strip_html }} &nbsp;</span>
          </h2>
          <h2 class="ctl__title ctl__title--copy h1">
            <span style="animation-duration: {{ animation }}; animation-delay: {{ animation_delay }}">{{ title | strip_html }} &nbsp;</span>
          </h2>
        </div>
      {% endif %}
      <div class="row row-adjusted">

        <div class="col-24 col-lg-22">
          <div class="swiper-container">
            <div class="content-grid swiper-wrapper">
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
                {% assign product_id = product_array[index] %}
                {% assign card_product = all_products[product_id] %}

                {% if product != blank %}
                  <div class="content-grid__item swiper-slide">
                    {% include 'product-card',
                       product: card_product,
                       show_sizes: true,
                       show_colors: true,
                       show_tag: true,
                       reverse_card: false,
                       current_color: blank,
                       auto_update_image: false
                    %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
