{%- comment %}

  Customer Register Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-register-form',
              marketing_checkbox_label: { string }
              terms_checkbox_label: { string }
              show_cancel_button: { boolean }
  %}

{% endcomment -%}

{% form 'create_customer' %}
  {{ form.errors | default_errors }}

  <div class="form-group">
    <input type="text"
      name="customer[first_name]"
      id="FirstName"
      class="form-control account-form__field"
      placeholder="{{ 'customer.register.first_name' | t }}"
      {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
      required>
  </div>

  <div class="form-group">
    <input type="text"
      name="customer[last_name]"
      id="LastName"
      class="form-control account-form__field"
      placeholder="{{ 'customer.register.last_name' | t }}"
      {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
  </div>

  <div class="form-group">
    <input type="email"
      name="customer[email]"
      id="Email"
      class="form-control account-form__field{% if form.errors contains 'email' %} is-invalid{% endif %}""
      value="{% if form.email %}{{ form.email }}{% endif %}"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ 'customer.register.email' | t }}"
    >
  </div>

  <div class="form-group">
    <input type="password"
      name="customer[password]"
      id="CreatePassword"
      class="form-control account-form__field{% if form.errors contains 'password' %} is-invalid{% endif %}""
      placeholder="{{ 'customer.register.password' | t }}"
      data-password-field
      >
    <span class="form-password__condition">({{ 'customer.register.password_condition' | t }})</span>
  </div>

  <div class="form-group">
    <input type="password"
      name="customer[password_confirmation]"
      id="CustomerPasswordConfirmation"
      class="form-control account-form__field"
      placeholder="{{ 'customer.register.password_confirm' | t }}"
      data-password-validate
    >
    <span data-password-validation-error-message class="form-password__error-message"></span>
  </div>

  <div class="form-group form-group__checkboxes">
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" type="checkbox" name="customer[accepts_marketing]" value="true" id="AcceptsMarketing" checked>
      <label class="custom-control-label h6" for="AcceptsMarketing">
        {% if marketing_checkbox_label != blank %}
          {{ marketing_checkbox_label }}
        {% else %}
          {{ 'customer.register.news_checkbox' | t }}
        {% endif %}
      </label>
    </div>
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" type="checkbox" name="customer[accepts_terms]" value="true" id="AcceptsTerms" required checked >
      <label class="custom-control-label h6" for="AcceptsTerms">
        {% if terms_checkbox_label != blank %}
          {{ terms_checkbox_label }}
        {% else %}
          {{ 'customer.register.terms_checkbox' | t }}
        {% endif %}
      </label>
    </div>
  </div>

  <div class="form-group form-group__button text-center">
    <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-primary">
    {% if show_cancel_button %}
      <a href="{{ shop.url }}" data-hide-register-form class="form-button__inline h6">{{ 'customer.register.cancel' | t }}</a>
    {% endif %}
  </div>
{% endform %}
