{%- comment %}

  Customer Register Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-login-form',
              is_drawer: { boolean }
  %}

{% endcomment -%}

{% form 'customer_login' %}

  <div class="form-group">

    <input type="email"
      name="customer[email]"
      id="CustomerEmail"
      class="form-control account-form__field {% if form.errors contains 'email' %}is-invalid{% endif %}"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ 'customer.login.email' | t }}"
      >
  </div>

  {% if form.password_needed %}
    <div class="form-group">

      <input type="password"
        name="customer[password]"
        id="CustomerPassword"
        placeholder="{{ 'customer.login.password' | t }}"
        class="form-control account-form__field{% if form.errors contains 'password' %} is-invalid{% endif %}"">
    </div>
  {% endif %}

  {{ form.errors | default_errors | replace: '<li>', '<li class="p4">'}}

  <div class="mb-0 form-group form-group__button text-center">
    <input type="submit" class="btn btn-primary" value="{{ 'customer.login.sign_in' | t }}">
  </div>

  {% if form.password_needed %}
    <div class="form-group text-center mb-0">
      <div class="mb-2">
        <a href="#recover" {% if is_drawer %}data-recover-password{% endif %} id="RecoverPassword" class="recover-password-link p4"><small>{{ 'customer.login.forgot_password' | t }}</small></a>
      </div>
      <a href="/account/register" data-register-form class="btn btn-link">
        <small>
          {{ 'customer.login.create_account' | t }}
        </small>
      </a>
    </div>
  {% endif %}

{% endform %}
