{%- comment %}

  Customer New Address Form
  ------------------------------------------------------------------------------

  Usage:

  {% include 'customer-new-address-form' %}

{% endcomment -%}

{{ 'shopify_common.js' | shopify_asset_url | script_tag }}

{% form 'customer_address', customer.new_address %}

  <div class="form-group">
    <input type="text"
      name="address[first_name]"
      id="AddressFirstNameNew"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.first_name' | t }}"
      value="{{ form.first_name }}"
      required
      autocapitalize="words">
  </div>

  <div class="form-group">
    <input type="text"
      name="address[last_name]"
      id="AddressLastNameNew"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.last_name' | t }}"
      value="{{ form.last_name }}"
      required
      autocapitalize="words">
  </div>

  <div class="form-group">
    <input type="text"
      name="address[company]"
      id="AddressCompanyNew"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.company' | t }}"
      value="{{ form.company }}"
      autocapitalize="words">
  </div>

  <div class="form-group">
    <input type="text"
      name="address[address1]"
      id="AddressAddress1New"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.address1' | t }}"
      value="{{ form.address1 }}"
      required
      autocapitalize="words">
  </div>

  <div class="form-group">
    <input type="text"
      name="address[address2]"
      id="AddressAddress2New"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.address2' | t }}"
      value="{{ form.address2 }}"
      autocapitalize="words">
  </div>

  <div class="form-group">
    <input type="text"
      name="address[city]"
      id="AddressCityNew"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.city' | t }}"
      value="{{ form.city }}"
      required
      autocapitalize="words">
  </div>
  <div class="form-group">
    <select
      name="address[country]"
      id="AddressCountryNew"
      class="form-control account-form__field"
      data-no-chosen
      required
      data-default="{{ form.country }}">
      {{ country_option_tags | replace: '---', 'Select Country' }}
    </select>
    {% include 'icon-caret-down' %}
  </div>

  <div class="form-group">
    {% assign form_country_handle = form.country | handle %}
    {% assign state_label = 'customer.addresses.state' | t %}

    <span id="AddressProvinceContainerNew">
      <select
        name="address[province]"
        id="AddressProvinceNew"
        class="form-control account-form__field"
        data-no-chosen
        required
        data-default="{{ form.province }}">
      </select>
      {% include 'icon-caret-down' %}
    </span>
  </div>

  <div class="form-group">
    <input type="text"
      name="address[zip]"
      id="AddressZipNew"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.zip' | t }}"
      value="{{ form.zip }}"
      required
      autocapitalize="characters">
  </div>

  <div class="form-group">
    <input type="tel"
      name="address[phone]"
      id="AddressPhoneNew"
      class="form-control account-form__field"
      placeholder="{{ 'customer.addresses.phone' | t }}"
      value="{{ form.phone }}"
      required
      pattern="[0-9\-]*">
  </div>

  <div class="form-group form-group__checkboxes">
    <div class="custom-control custom-checkbox">
      {% comment %}{{ form.set_as_default_checkbox }}{% endcomment %}
      <input type="checkbox" name="address[default]" value="1" class="custom-control-input" id="address_default_address_new" />
      <label class="custom-control-label p5" for="address_default_address_new">
        {{ 'customer.addresses.set_default' | t }}
      </label>
    </div>
  </div>

  <div class="form-group form-group__button text-center">
    <div class="mb-2">
      <input type="submit" class="btn btn-primary account__address-button" value="{{ 'customer.addresses.save' | t }}">
    </div>
  </div>
  <div class="form-group text-center">
    <button type="button" class="btn btn-link" data-address-new-toggle>
      {{ 'customer.addresses.cancel' | t }}
    </button>
  </div>

  <script>
    // Initialize observers on address selectors
    new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
      hideElement: 'AddressProvinceContainerNew'
    });
  </script>

{% endform %}
