{% assign metafields = product.metafields.custom_fields %}
<div class="drawer fit-guide__drawer col-lg-10" data-fit-guide-drawer>
  <div class="drawer__inner fit-guide__inner">
    <div class="drawer__header fit-guide__header">
      <div class="drawer__header-title fit-guide__header-title">
        Size Guide
      </div>
      <a href="javascript:void(0);"class="drawer__close fit-guide__close" data-drawer-close>
        {% render 'icon-close' %}
        <span class="sr-only">Close size guide</span>
      </a>
    </div>
    <div class="drawer__body-contents fit-guide__body">
      {% if metafields["fg_images"] != blank %}
        <div class="fit-guide__gallery-container" data-fit-guide-slider>
          <div class="swiper swiper" data-fit-guide-gallery>
            <div class="swiper-wrapper">
              {% for image in metafields["fg_images"] %}
              <div class="swiper-slide">
                {% capture image_tag %}
                  {% render 'cf-image' with image: image, print: "tag", size: "599x599", crop: "center", tag_class: "swiper-lazy fit-guide__gallery-image"%}
                {% endcapture %}
                {{ image_tag | replace: 'src=', 'data-src=' }}
              </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination fit-guide__gallery-pagination"></div>
          </div>
          {% if metafields["fg_model_description"] != blank %}
            <div class="fit-guide__gallery-description-content">
              {{ metafields["fg_model_description"] }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if metafields["fg_size_list"] != blank %}
        <table class="fit-guide__table responsible-table table-striped">
          <thead>
            <th></th>
            <th><b>Chest</b></th>
            <th><b>Waist</b></th>
            <th><b>Height</b></th>
          </thead>
          <tbody>
            {% for table_row in metafields["fg_size_list"] %}
              <tr>
                <td> {{table_row["name"]}} </td>
                <td> {{table_row["chest_size"]}} </td>
                <td> {{table_row["waist_size"]}} </td>
                <td> {{table_row["height_size"]}} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if metafields["fg_tips_content"] != blank %}
        <div class="blink-box blink-box--dark">
          {% if metafields["fg_tips_title"] != blank %}
            <h6 class="blink-box__title">
              {{ metafields["fg_tips_title"] }}
            </h6>
          {% endif %}

          <div class="blink-box__content">
            {{ metafields["fg_tips_content"] }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>