<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{h_id}}"] {
      background-color: {{h_background_color}};
    }
  {% endif %}
</style>

<div class="row no-gutters justify-content-center" data-animated-background="{{ h_background_color }}" data-section-type="hero" data-section-id="{{h_id}}">
  <div class="col-md-24 col-lg-22">
    <div class="hero__content">
      <div class="hero__header">
        <div class="hero__handscript-svg">

        </div>
        {%- if h_title != blank -%}
          <h1 class="hero__title text-center text-{{h_title_color}}"> {{ h_title }} </h1>
        {%- endif -%}
      </div>
      {% if h_cta_text != blank and h_cta_url != blank %}
      <div class="hero__button-container">
        <a href="{{h_cta_url}}" class="btn btn-white">
          {{h_cta_text}}
          <span class="btn__ui">
            {% include 'icon-arrow' %}
          </span>
        </a>
      </div>
      {% endif %}
      <div class="hero__media-container">
        {%- if h_video != blank -%}
          {%- assign yt_video_id = h_video.id -%}
          <div class="hero__video">
            <div id="video-player-{{ yt_video_id }}" class="video-player" data-video-player data-video-id="{{ yt_video_id }}" data-video-type="youtube" data-background="true" data-embed-color="#000000">
              <div class="video-player__cover" data-video-player-cover>
                <div class="video-player__cover-still lazyload" data-background="{{h_image | img_url: '1800x'}}"></div>
              </div>
              <div class="video-player__embed" data-video-player-embed></div>
            </div>
          </div>
        {%- elsif h_image != blank -%}
          <div class="hero__image frame frame--16x9">
            {%- render 'image_tag'
                image: h_image,
                object_fit: 'cover'
                -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
