<div id="hero-{{id}}" class="hero container-fluid {{s.vertical_position}} {{s.horizontal_position}}">
  <style>
    #hero-{{id}} .hero__text,
    #hero-{{id}} .hero__title {
      color: {{s.text_color}};
    }

    #hero-{{id}} .hero__highlight-text {
      color: {{ s.highlight_color }};
    }
  </style>
  <picture class="hero__bg">
    <source data-srcset="{{ s.image | img_url: '1440x' }}" media="(min-width: 1024px)">
    <img data-src="{{ s.image_mobile | default: s.image | img_url: '800x' }}" alt="{{s.image.alt | default: s.mobile_image.alt }}" class="hero__bg-image lazyload">
  </picture>
  <div class="hero__inner col-20 col-lg-14">
    {% if s.title != blank %}
      <{{s.title_tag}} class="hero__title h1">
        {{ s.title | replace: '<strong>', '<span class="hero__highlight-text">' | replace: '</strong>', '</span>' | remove: '<p>' | remove: '</p>'}}
      </{{s.title_tag}}>
    {% endif %}
    {% if s.body_content != blank %}
      <p class="hero__text p2">
        {{ s.body_content }}
      </p>
    {% endif %}
    {% if s.cta_text != blank and s.cta_url != blank%}
      <a href="{{s.cta_url}}" class="btn {{ s.button_style }}">
        {{ s.cta_text }}
      </a>
    {% endif %}
  </div>
</div>