<div id="hero-{{id}}" class="hero container-fluid {{s.vertical_position}} {{s.horizontal_position}}" data-section-id="{{section.id}}" data-section-type="hero">
  <style>
    #hero-{{id}} .hero__text,
    #hero-{{id}} .hero__title {
      color: {{s.text_color}};
    }

    #hero-{{id}} .hero__highlight-text {
      color: {{ s.highlight_color }};
    }
  </style>
  <picture class="hero__bg">
    <source data-srcset="{{ s.image | img_url: '1440x' }}" media="(min-width: 1024px)">
    <img data-src="{{ s.image_mobile | default: s.image | img_url: '800x' }}" alt="{{s.image.alt | default: s.mobile_image.alt }}" class="hero__bg-image lazyload">
  </picture>

  {% if s.desktop_video_webm != blank or s.desktop_video_mp4 != blank or s.mobile_video_webm != blank or s.mobile_video_mp4 != blank %}
    <div class="hero__video-container">
      <video
        data-background-video
        data-desktop-video-webm="{{s.desktop_video_webm}}"
        data-desktop-video-mp4="{{s.desktop_video_mp4}}"
        data-mobile-video-webm="{{s.mobile_video_webm}}"
        data-mobile-video-mp4="{{s.mobile_video_mp4}}"
        autoplay
        loop
        muted
        playsinline
      >
        <source type="video/webm" src="{{s.desktop_video_webm}}" data-webm-video>
        <source type="video/mp4" src="{{s.desktop_video_mp4}}" data-mp4-video>
      </video>
    </div>
  {% endif %}

  <div class="hero__inner col-20 col-lg-14">
    {% if s.handwritten_image != blank %}
      <img data-src="{{s.handwritten_image | img_url: 'master'}}" alt="{{s.handwritten_image.alt}}" class="hero__title-image lazyload">
    {% endif %}
    {% if s.title != blank %}
      <{{s.title_tag}} class="hero__title h1">
        {{ s.title | replace: '<strong>', '<span class="hero__highlight-text">' | replace: '</strong>', '</span>' | remove: '<p>' | remove: '</p>'}}
      </{{s.title_tag}}>
    {% endif %}
    {% if s.body_content != blank %}
      <p class="hero__text p2">
        {{ s.body_content }}
      </p>
    {% endif %}
    {% if s.cta_text != blank and s.cta_url != blank%}
      <a href="{{s.cta_url}}" class="btn {{ s.button_style }} hero__btn">
        {{ s.cta_text }}
      </a>
    {% endif %}
  </div>
</div>