{% if next_page_url != blank %}
  {% assign next_url = next_page_url  %}
{% else %}
  {% assign next_url = paginate.next.url %}
{% endif %}

<div class="load-more"
     data-pagination
     data-card-selector ="{{card_selector}}"
     data-grid-container="{{grid_container}}"
     data-url-next="{{ next_url }}"
     data-update-url="{{ update_url }}"
     {% unless next_url != blank %}
      style="display:none";
     {% endunless %}
     >
  <a href="{{ next_url }}"
  data-load-more-button
  class="load-more">
  {% include 'icon-more-full-color' %}
  </a>
</div>
