{%- comment %}

  Page CMS Section Renderer
  ------------------------------------------------------------------------------

  Usage:

  {% include 'page-cms-section-renderer',
              section: section
  %}

  Renders section content.  This snippet should be used as the single point of entry for rendering CMS section content - see sections/page-cms.liquid

  Renders blocks of the following types:
    - spacer
    - promo
    - article_grid
    - product_grid
    - banner
    - richtext
    - video

{% endcomment -%}

<div class="layout-content-wrapper flush-top" data-section-id="{{ section.id }}" data-section-type="cms-page">
  
    <div class="hero">
      {% include 'hero-panel'
                  h_id: section.id,
                  h_background_color: section.settings.background_color,
                  h_title: section.settings.title,
                  h_title_color: section.settings.title_color,
                  h_image: section.settings.image,
                  h_video: section.settings.video_url,
                  h_cta_text: section.settings.cta_text,
                  h_cta_url: section.settings.cta_url
      %}
    </div>

    {% for block in section.blocks %}  
      <div class="cms-page-block" {{ block.shopify_attributes }}>
        {% if block.type == "spacer" %}
        
          {% include 'spacer', id: block.id, height_name: block.settings.height_name %}

        {% elsif block.type == "promo" %}  
          <div data-section-id="{{ block.id }}" data-cms-block data-background-color="{{ block.settings.background_color }}">
            {% include 'promo',
                        p_id: block.id,
                        p_layout: block.settings.layout,
                        p_type: 3,
                        p_bg_color: block.settings.background_color
                        p_image: block.settings.image,
                        p_image_small: block.settings.image_small,
                        p_background_color: block.settings.background_color,
                        p_title_color: block.settings.title_color,
                        p_light: block.settings.light_text,
                        p_eyebrow_icon: block.settings.eyebrow_icon,
                        p_secondary_icon: block.settings.secondary_icon,
                        p_eyebrow: block.settings.eyebrow,
                        p_title: block.settings.title,
                        p_text: block.settings.text,
                        p_cta_url: block.settings.cta_url,
                        p_cta_text: block.settings.cta_text
            %}
          </div>

        {% elsif block.type == "richtext" %}
          <div class="section-rich-text" data-cms-block data-background-color="#ffffff">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-20">
                  {% include 'content-header', ch_title: block.settings.title %}

                </div> 
                <div class="col-lg-14 col-20">
                  {% include 'richtext-block'
                              id: block.id,
                              content_alignment: 'center',
                              text_alignment: 'left',
                              content: block.settings.content
                  %}
                </div>             
              </div>
            </div>
          </div>

        {% elsif block.type == "video" %}
          {% assign title_color = block.settings.title_color %}
          {% assign background_color = block.settings.background_color %}

          {% assign eyebrow_icon = block.settings.eyebrow_icon %}
          {% assign eyebrow = block.settings.eyebrow %}
          {% assign title = block.settings.title %}

          {% assign video_cover = block.settings.video_cover %}
          {% assign video_url = block.settings.video_url %}
          {% assign video_id = video_url | remove: "https://www.youtube.com/watch?v=" %}

          {% assign this_product = block.settings.product_link %}
          {% assign product_link =  all_products[this_product].url%}

          <div  data-section-id="{{ block.id }}" 
                class="video-section" 
                data-section-type="video" 
                data-background-color="{{ background_color }}"
                data-cms-block
          >
            <div class="container-fluid">

              <div class="row justify-content-center">
                {% if eyebrow_icon != blank %}
                  <div class="video-section__eyebrow-icon frame frame--4x3">
                    {% render 'image_tag'
                              image: eyebrow_icon,
                              object_fit: "cover"
                    %}
                  </div>
                {% endif %}

                <div class="col-lg-22 col-20">
                  {% if eyebrow != blank %}
                    <span class="video-section__eyebrow h5">{{ eyebrow }}</span>
                  {% endif %}

                  {% if title != blank %}
                    <div class="video-section__title h1 text-{{ title_color }}">{{ title }}</div>
                  {% endif %}

                  {% if video_url != blank %}
                    <div class="video-section__video-cover frame frame--16x9">
                      {% render 'image_tag'
                                image: video_cover,
                                object_fit: 'cover'
                      %}

                      <button type="button" class="modal-video-player__play-button" data-toggle="modal" data-target="#video-modal-{{ block.id }}">
                        {% include 'icon-play-full-color' %}
                      </button>
                    </div>
                    
                    <div class="modal modal--video fade" id="video-modal-{{ block.id }}" data-video-modal>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        {% include 'icon-close' %}
                      </button>
                        
                      {% if this_product != blank %}
                        <a class="btn btn-link product-link d-lg-block d-none"href="{{ product_link }}">
                          Shop {{ all_products[this_product].title }}
                          <span class="btn__ui">
                            {% include 'icon-arrow' %}
                          </span>
                        </a>
                      {% endif %}

                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div id="video-player-{{ video_id }}" class="index-video-player frame frame--16x9" data-video-player data-video-id="{{ video_id }}" data-video-type="youtube" data-background="false" data-embed-color="ffffff">
                              <div class="video-player__embed" data-video-player-embed></div>
                            </div>

                            {% if this_product != blank %}
                              <a class="btn btn-link product-link d-block d-lg-none"href="{{ product_link }}">
                                Shop {{ all_products[this_product].title }}
                                <span class="btn__ui">
                                  {% include 'icon-arrow' %}
                                </span>
                              </a>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>


        {% elsif block.type == "scrolling_text" %}
          {% if block.settings.animation_durartion == blank %}
            {% assign animation = 20 | append: 's'%}
          {% else %}
            {% assign animation = block.settings.animation_durartion | append: 's'%}
          {% endif %}

          {% assign animation_delay = block.settings.animation_durartion | divided_by: 2.0 | append: 's' | prepend: '-' %}
          {% assign title = block.settings.text %}
          
          {% if title != blank %}  
            <div class="scrolling-text" data-cms-block data-background-color="#ffffff">
              <div class="text-wrapper col-24">
                <h2 class="text h1">
                  <span style="animation-duration: {{ animation }};">{{ title | strip_html }} &nbsp;</span>
                </h2>
                <h2 class="text text--copy h1">
                  <span style="animation-duration: {{ animation }}; animation-delay: {{ animation_delay }}">{{ title | strip_html }} &nbsp;</span>
                </h2>
              </div>
            </div>          
          {% endif %}

        {% elsif block.type == "text_plus_signature" %}
          {% assign text = block.settings.text %}
          {% assign floating_icon = block.settings.floating_image %}
          {% assign counter = 0 %}

          {% if text != blank %}
            <div class="section-text-signature" data-cms-block data-background-color="#121212">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-19 col-20 offset-lg-2">
                    <div class="text-container h2">{{ text }}</div>

                    {% if floating_icon != blank %}
                      <div class="icon-container">
                        <div class="floating-icon frame frame--16x9">
                          {% render 'image_tag'
                                      image: floating_icon,
                                      object_fit: "contain"
                            %}
                        </div>
                      </div>
                    {% endif %}                      
                  </div>
                </div>

                {% for i in (1..3) %}
                  {% assign index_icon = 'signature_icon_' | append: i %}
                  {% assign index_text = 'signature_text_' | append: i %}
                  {% assign signature_icon = block.settings[index_icon] %}
                  {% assign signature_text = block.settings[index_text] %}

                  {% if signature_icon != blank and signature_text != blank %}
                    {% assign counter = counter | plus: 1 %}
                  {% endif %}
                {% endfor %}

                {% if counter > 0 %}
                  <div class="row justify-content-center">
                    <div class="col-lg-18 col-20">
                      <div class="signature-wrapper">
                        {% for i in (1..3) %}
                          {% assign index_icon = 'signature_icon_' | append: i %}
                          {% assign index_text = 'signature_text_' | append: i %}

                          {% assign signature_icon = block.settings[index_icon] %}
                          {% assign signature_text = block.settings[index_text] %}

                          {% if signature_icon != blank and signature_text != blank %}
                            <div class="signature-block">
                              <div class="signature-block__image frame frame--16x9">
                                {% render 'image_tag'
                                          image: signature_icon,
                                          object_fit: 'contain'
                                %}
                              </div>

                              <p class="signature-block__text">{{ signature_text }}</p>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}

        {% elsif block.type == "image_plus_caption" %}
          <div class="section-image-plus-caption" data-cms-block data-background-color="#ffffff">
            {% assign aspect_ratio = block.settings.aspect_ratio %}
            {% assign counter = 0 %}

            {% for i in (1..2) %}
              {% assign index_image = 'image_' | append: i %}
              {% assign index_caption = 'caption_' | append: i %}

              {% assign tile_image = block.settings[index_image] %}
              {% assign caption = block.settings[index_caption] %}

              {% if tile_image != blank and caption != blank %}
                {% assign counter = counter | plus: 1 %}
              {% endif %}
            {% endfor %}
            
            <div class="row justify-content-center">
              <div class="image-tiles-wrapper {% if counter == 1 and aspect_ratio == '1x1'%}col-lg-14 col-20{% else %}col-lg-22 col-20{% endif %}">
                {% for i in (1..2) %}
                  {% assign index_image = 'image_' | append: i %}
                  {% assign index_caption = 'caption_' | append: i %}

                  {% assign tile_image = block.settings[index_image] %}
                  {% assign caption = block.settings[index_caption] %}

                  {% if tile_image != blank and caption != blank %}
                    <div class="image-tile {% if counter > 1%}image-tile--half{% endif %}">

                      <div class="image-title__image frame {% if counter == 1%}frame--{{ aspect_ratio }}{% else %}frame--1x1{% endif %}">
                        {% render 'image_tag'
                                  image: tile_image
                                  object_fit: "cover"
                        %}
                      </div>
                      <p class="image-tile__caption p1">{{ caption }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div> 
            </div>
          </div>
        {% elsif block.type == "collection_grid" %}
          {% assign light_text = block.settings.light_text %}
          {% assign title_color = block.settings.title_color %}
          {% assign background_color = block.settings.background_color %}

          {% assign eyebrow_icon = block.settings.eyebrow_icon %}
          {% assign title = block.settings.title %}

          <div  class="collection-grid {% if light_text == true%}light{% endif %}"
                data-section-id="{{ block.id }}" 
                data-section-type="collection-grid"  
                data-background-color="{{ background_color }}"
                data-cms-block
          >
            <div class="container-fluid">
              <div class="row justify-content-center">
                
                {% if eyebrow_icon != blank %}
                  <div class="collection-grid__eyebrow">
                    {% render 'image_tag'
                              image: eyebrow_icon,
                              object_fit: "cover"
                    %}
                  </div>
                {% endif %}

                <div class="col-lg-22 col-20">
                  {% if title != blank %}
                    <div class="collection-grid__title h1 text-{{ title_color }}">{{ title}}</div>
                  {% endif %}

                  <div class="collection-grid-container">
                    {% for i in (1..2) %}
                      {% assign index_title = 'collection_title_' | append: i %}
                      {% assign index_cta_text = 'cta_text_' | append: i %}
                      {% assign index_cta_url =  'cta_url_' | append: i %}
                      {% assign index_image =  'collection_image_' | append: i %}

                      {% assign collection_title = block.settings[index_title] %}
                      {% assign cta_text = block.settings[index_cta_text] %}
                      {% assign cta_url = block.settings[index_cta_url] %}
                      {% assign collection_image = block.settings[index_image] %}
                      
                      {% if collection_image != blank and collection_title != blank %}
                        <div class="collection-tile">
                          {% if cta_url != blank%}
                            <a href="{{ cta_url }}">
                          {% endif %}

                            <div class="collection-tile__image frame frame--1x1">
                              {% render 'image_tag'
                                        image: collection_image,
                                        object_fit: "cover"
                              %}
                            </div>

                          {% if cta_url != blank %}
                            </a>
                          {% endif %}
                          
                          <h3 class="collection-tile__title">{{ collection_title}}</h3>

                          {% if cta_url != blank and cta_text != blank %}
                            <a class="collection-tile__cta btn btn-link" href="{{ cta_url }}">
                            {{ cta_text }}
                            <span class="btn__ui">
                              {% include 'icon-arrow' %}
                            </span>
                          </a>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      </div>
    {% endfor %}
</div>
