{%- capture details_drawer_content -%}
  {% if metafields["product_details"] != blank %}
  <div class="swiper-container" data-features-slider>
    <div class="swiper-wrapper">
      {%- for detail in metafields["product_details"] -%}
        <div class="swiper-slide">
          {% if detail['image'] != blank%}
            <div class="frame frame--1x1">
              {% capture image_tag %}
                {% render 'cf-image' with image: detail['image'], print: "tag", tag_class:"swiper-lazy features-detail__image" %}
              {% endcapture %}
              {{ image_tag | replace: 'src=', 'data-src='}}
            </div>
          {% endif %}

          <div class="features-detail__body-content">
            {{ detail['body_content'] }}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="features-detail__slider-pagination" data-slider-pagination></div>
  </div>
  {% endif %}
  {%- if metafields["dd_details"] != blank -%}
  <div class="blink-box blink-box--dark">
  {% if metafields["dd_details_title"] != blank%}
    <div class="blink-box__title">
      {{ metafields["dd_details_title"] }}
    </div>
  {% endif %}
    <div class="blink-box__content">
      {{ metafields["dd_details"] }}
    </div>
  </div>
  {%- endif -%}
{%- endcapture -%}

{%- if details_drawer_content != blank -%}
  <div class="drawer features-detail__drawer" data-features-drawer>
    <div class="drawer__inner">
      <div class="drawer__header features-detail__header">
        <div class="drawer__header-title features-detail__header-title">
          Features & Details
        </div>
        <a href="javascript:void(0);" class="features-detail__close" data-drawer-close>
          {% render 'icon-close' %}
          <span class="sr-only">Close features detail drawer</span>
        </a>
      </div>
      <div class="darwer__body-contents features-detail__body">
        {{ details_drawer_content }}
      </div>
    </div>
  </div>
{%- endif -%}
