{% assign slides_array = blocks | where: 'type', prefix %}

{% if slides_array != blank %}
  {%- assign type = 'blocks' -%}
{% endif %}

{% if metafields[prefix] != blank %}
  {% assign slides_array = metafields[prefix] %}
{% endif %}

{% if slides_array != blank %}
  <div id="{{bg_prefix}}" class="content-slider__container">
    <div class="content-slider" data-section-type="content-slider">
      <div class="swiper-container" data-slideshow>
        <div class="swiper-wrapper">
          {% for block in slides_array %}
            {% if type == 'blocks' %}
              {%- assign slide = block.settings -%}
            {% else %}
              {% assign slide = block %}
            {% endif %}

            {% capture slide_buttons %}
              {% if type == 'blocks' %}
                {% for i in (1..2) %}
                  {%- assign button_text_handle = "button_text_" | append: i -%}
                  {%- assign button_url_handle = "button_url_" | append: i -%}
                  {%- if slide[button_text_handle] != blank and slide[button_url_handle] != blank -%}
                    <a href="{{slide[button_url_handle]}}" class="btn btn-white content-slider__button">
                      {{slide[button_text_handle]}}
                    </a>
                  {%- endif -%}
                {% endfor %}
              {% else %}
                {% if slide.button_1 != blank %}
                  {{ slide.button_1 | replace: "<a", "<a class='btn btn-white content-slider__button'"}}
                {% endif %}

                {% if slide.button_2 != blank %}
                  {{ slide.button_2 | replace: "<a", "<a class='btn btn-white content-slider__button'"}}
                {% endif %}
              {% endif %}
            {% endcapture %}

            <div class="swiper-slide" data-slide>
              {%- if type == 'blocks' -%}
                {% assign image = slide.image | img_url: 'master' %}
                {% assign image_alt = slide.image.alt %}
              {%- else -%}
                 {% assign image = slide.image %}
                 {% assign image_alt = slide.image_alt %}
              {%- endif -%}
              {% unless image == blank or image contains 'no-image' %}
                <div class="content-slider__image-container">
                  <img class="content-slider__img" src="{{ image }}" alt="{{image_alt}}">
                </div>
              {% endunless %}
              {% if slide.title != blank %}
                <span class="content-slider__title">{{ slide.title }}</span>
              {% endif %}
              {% if slide.body_content != blank %}
                  {{ slide.body_content | replace: '<em>', '<em class="content-slider__highlighted-text">' | replace: '<p>', '<p class="content-slider__body-content">' | replace: '<a', '<a class="btn-link"' }}
              {% endif %}
              {% if slide_buttons != blank %}
                <div class="content-slider__button-container">
                  {{ slide_buttons }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="content-slider__bottom-color"></div>
  </div>
{% endif %}
