{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% render 'product-card',
        card_product: { product } - required
        color: { string } - optional - selects the default color to be selected on the card
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% assign image_loading_placeholder = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" %}

{% assign current_variant = product.variants[0] %}

{% for variant in card_product.variants %}
  {% if variant.title contains color %}
    {% assign current_variant = variant %}
    {% break %}
  {% endif %}
{% endfor %}

{% for option in card_product.options_with_values %}
  {% if option.name == 'color' or option.name == 'Color' %}
    {% assign color_index = 'option' | append: forloop.index %}
  {% endif %}
  {% if option.name == 'size' or option.name == 'Size' %}
    {% assign size_index = 'option' | append: forloop.index %}
  {% endif %}
{% endfor %}

{% capture card_images %}
  {%- for image in card_product.images -%}
    {% assign alt_downcase = image.alt | downcase %}
    {% if alt_downcase contains 'front' %}
      {% assign alt_pieces = image.alt | split: '|' %}
      {% assign image_color_downcase = alt_pieces[1] | downcase %}
      {% assign variant_color_downcase = current_variant[color_index] | downcase %}
      <div class="product-card__gallery-slide
          {% if image_color_downcase == variant_color_downcase %}is-active{% endif %}"
          href="{{card_product.url}}?variant={{current_variant.id}}" data-product-url="{{card_product.url}}"
          data-gallery-slide
          data-image-selector="{{ alt_pieces[1] | downcase }}">

        <img
            src="{{image | image_url }}"
            width="400px"
            height="auto"
            class="product-card__image"
            alt="{{ alt_pieces[0] }}"
            loading="lazy">
      </div>
    {% endif %}
  {%- endfor -%}

  {%- for merged_product in card_product.metafields.custom_fields.merge_product.value -%}
    {% for image in merged_product.images %}
      {% assign alt_downcase = image.alt | downcase %}
      {% if alt_downcase contains 'front' %}
        {% assign alt_pieces = image.alt | split: '|' %}
        {% assign image_color_downcase = alt_pieces[1] | downcase %}
        {% assign variant_color_downcase = current_variant[color_index] | downcase %}
        <div class="product-card__gallery-slide
            {% if image_color_downcase == variant_color_downcase %}is-active{% endif %}"
            href="{{merged_product.url}}?variant={{current_variant.id}}" data-product-url="{{merged_product.url}}"
            data-gallery-slide
            data-image-selector="{{ alt_pieces[1] | downcase }}">

          <img
              src="{{image | image_url }}"
              width="400px"
              height="auto"
              class="product-card__image"
              alt="{{ alt_pieces[0] }}"
              loading="lazy">
        </div>
      {% endif %}
    {% endfor %}
  {%- endfor -%}
{% endcapture %}

{% if card_images == blank %}
  {% assign printed_images = blank %}
  {% capture card_images %}
    {% for variant in card_product.variants %}
      {% unless printed_images contains variant.image %}
        {% assign alt_pieces = image.alt | split: '|' %}
        <div class="product-card__gallery-slide
          {% if variant == current_variant %}
            is-active
          {% endif %}"
          data-image-selector="{{ alt_pieces[1] }}">
          <img
            src="{{variant.image | image_url: width: '400', format: 'pjpg'}}"
            class="product-card__image"
            width="400"
            height="auto"
            alt="{{ alt_pieces[0] }}"
            loading="lazy">
        </div>
        {% assign printed_images = printed_images | append: variant.image %}
      {% else %}
        {% continue %}
      {% endunless %}
    {% endfor %}
    {%- for merged_product in card_product.metafields.custom_fields.merge_product.value -%}
      {% for variant in merged_product.variants %}
      {% unless printed_images contains variant.image %}
        {% assign alt_pieces = image.alt | split: '|' %}
          <div class="product-card__gallery-slide
            {% if variant == current_variant %}
              is-active
            {% endif %}"
            data-image-selector="{{ alt_pieces[1] }}">
            <img
              src="{{variant.image | image_url: width: '400', format: 'pjpg'}}"
              class="product-card__image"
              width="400"
              height="auto"
              alt="{{ alt_pieces[0] }}"
              loading="lazy">
          </div>
          {% assign printed_images = printed_images | append: variant.image %}
        {% else %}
          {% continue %}
      {% endunless %}
      {% endfor %}
    {% endfor %}
  {% endcapture %}
{% endif %}

{% if card_product != blank %}
  <div id="product-card-{{ card_product.id }}" class="product-card {{ card_classes }}" data-product-card>
    <a href="{{card_product.url}}?variant={{current_variant.id}}" class="product-card__gallery" data-gallery-slider data-product-url="{{card_product.url}}?variant={{current_variant.id}}">
      {{ card_images }}
    </a>
    <form target="/cart/add" class="product-card__content text-center">
      <a href="{{card_product.url}}?variant={{current_variant.id}}" class="product-card__url" data-product-url="{{card_product.url}}"></a>
      {% render 'product-form-options'
        product: card_product,
        print_option: 'color',
        type:'swatch',
        current_variant: current_variant
        merge_products: card_product.metafields.custom_fields.merge_product.value
      %}
      <span class="product-card__color-title" data-color-title data-color-index="{{color_index}}">
        {{ current_variant[color_index] }}
      </span>

      <h4 class="product-card__title">
        {{ card_product.title }}
      </h4>

      <div class="product-card__price-container">
        <s class="product-card__compare-price" data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money_without_trailing_zeros }}
          {% endif %}
        </s>
        <span class="product-price" data-product-price>
          {{ current_variant.price | money_without_trailing_zeros }}
        </span>
      </div>

      <input type="hidden" data-option-name="Size"
            data-single-option-selector
            data-drawer-field
            data-product-option="{{size_index}}"
            data-option-index="{{size_index}}"
            data-product-title="{{card_product.title}}">
      <input type="hidden" name="quantity" value="1">
      <input type="hidden" name="id">
    </form>

    <div class="product-card__add-to-cart-container">
      <button class="product-card__add-to-cart btn-link" data-option-drawer-trigger>Add It Now</button>
    </div>

    <script type="application/json" data-product-json>
      {% render 'product-json' with product: card_product %}
    </script>
  </div>
{% endif %}
