{% assign eyebrow =  product.metafields.custom_fields["overview_eyebrow"] %}
{% assign title = product.metafields.custom_fields["overview_title"] %}
{% assign copy = product.metafields.custom_fields["overview_copy"] %}
{% assign overview_image = product.metafields.custom_fields["overview_image"] %}
{% assign overview_image_alt = product.metafields.custom_fields["overview_image_alt"] %}
{% assign video = product.metafields.custom_fields["overview_video"] %}
{% assign details = product.metafields.custom_fields["overview_details"] %}
{% assign small_text = product.metafields.custom_fields["overview_small_text"] %}

{% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
  <style>
    #product-overview {
      background-color: #000000;
    }
  </style>
{% endif %}

{% if eyebrow != blank or title != blank or copy != blank or overview_image != blank or details != blank %}
  <div id="product-overview" class="product-overview" data-section-type="product-overview" data-animated-background="#000000">
    <div class="row no-gutters justify-content-center row-adjusted">
      <div class="col-lg-22 col-20">

        <div class="overview-content">
          {% if eyebrow != blank %}
            <span class="overview-content__eyebrow h5">{{ eyebrow }}</span>
          {% endif %}
          {% if title != blank %}
            <h2 class="overview-content__title h1">{{ title }}</h2>
          {% endif %}
          {% if copy != blank %}
            <p class="overview-content__copy p2">{{ copy }}</p>
          {% endif %}
        </div>

        <div class="overview-details row no-gutters">
          <div class="overview-details__image col-lg-12">
            {% if overview_image != blank %}
              <div class="image-container frame frame--4x3">
                {% if video != blank %}
                  {% assign yt_video_id = video | remove: "https://www.youtube.com/watch?v=" %}

                  <div class="overview-video">
                    <div id="video-player-{{ yt_video_id }}" class="video-player" data-video-player data-video-id="{{ yt_video_id }}" data-video-type="youtube" data-background="false" data-embed-color="#000000">
                      <div class="video-player__cover" data-video-player-cover>
                        {% render 'image_tag'
                          image: overview_image,
                          object_fit: 'cover',
                          image_alt: overview_image_alt
                        %}

                        <span class="video-player__cover-play" data-video-play>
                          {% include "icon-play-full-color" %}
                        </span>

                        <div class="visual-play-button">
                          {% include 'icon-play-full-color' %}
                        </div>
                      </div>
                      <div class="video-player__embed" data-video-player-embed></div>
                    </div>
                  </div>
                {% else %}
                  {% render 'image_tag'
                    image: overview_image,
                    object_fit: 'cover',
                    image_alt: overview_image_alt
                  %}
                {% endif %}
              </div>
            {% endif %}

            {% if small_text != blank %}
              <p class="overview-details__small-text d-none d-lg-block">{{ small_text }}</p>
            {% endif %}
          </div>

            <div class="overview-details__content col-lg-11 offset-lg-1">{{ details }}</div>
            <p class="overview-details__small-text d-block d-lg-none">{{ small_text }}</p>
        </div>
      </div>
    </div>

  </div>
{% endif %}

