{% comment %}
  Usage:
    {% render 'product-form-options',
      product, { product object } Product data containing the options to be rendered
      type: { string, accepts: swatch, drawer, select } defines the way the options are going to be printed
      print_option: { string } defines which kind of selector is going to be rendered
      current_variant: { object} Optional, sets the currently selected variant for a pre-selected status
    %}

  Printing type options:
    - "swatch": renders variant image as swatch color and lets select the options inline
    - "drawer": renders buttons with the name of the variant to be selected through a drawer option
    - "select": renders the options as an styled select tag for instances where a simpler layout is required

{% endcomment %}
{% assign option_index = "" %}
{% assign option_downcase = print_option | downcase %}
{% for option in product.options %}
  {% assign product_option_downcase = option | downcase %}
  {% if option_downcase == product_option_downcase %}
    {% assign option_index = 'option' | append: forloop.index %}
  {% endif %}
{% endfor %}

{% if type == "swatch" %}
  <div class="product-option">
    <div class="product-option__header">
      <div class="product-option__header-label p4">
        {{ print_option | capitalize | append: ':'}}
      </div>
      <div class="product-option__selected-option p4" data-selected-option="{{option_index}}">
        {{ current_variant[option_index] }}
      </div>
    </div>
    <div class="product-option__swatch swiper" data-swatch-slider>
      <div class="swiper-wrapper">
        {% assign printed_variant = "" %}
        {% for variant in product.variants %}
          {%- if printed_variant == variant[option_index] -%}
            {%- continue -%}
          {%- endif -%}
          {% if variant[option_index] == current_variant[option_index] or variant.available == true or variant.metafields.custom_fields['enable_notify_me'] == 1 or variant.metafields.custom_fields['enable_sold_out'] == 1 %}
            {%- assign printed_variant = variant[option_index] -%}
            <label class="product-option__single-selector swiper-slide" data-swatch-slide>
              <input type="radio"
                    name="{{- option_prefix -}}{{option_index}}"
                    value="{{variant[option_index]}}"
                    class="hide"
                    data-option-name="{{option_downcase}}"
                    data-product-option="{{ option_index }}"
                    data-option-value="{{variant[option_index] | downcase}}"
                    {% if variant[option_index] == current_variant[option_index] %} checked="checked" {% endif %}
                    data-index="{{ option_index }}"
                    data-single-option-selector
                    {% if variant.compare_at_price > variant.price %}
                      data-variant-compare-price="{{variant.compare_at_price}}"
                      data-variant-price="{{variant.price}}"
                    {% endif %}
                    >

              <div class="product-option__ui">
                {%- if template == 'product' -%}
                  {%- assign image_sizes = '(max-width: 992px) 20vw, 112px' -%}
                {%- else -%}
                  {%- assign image_sizes = '(max-width: 992px) 15vw, 6vw' -%}
                {%- endif -%}
                {% if variant.compare_at_price > variant.price %}
                  <div class="product-option__discount-badge"></div>
                {% endif %}
                {%- render 'responsive-image'
                  image: variant.image,
                  image_sizes: image_sizes,
                  alt: variant.image.alt,
                  loading: 'lazy',
                -%}
              </div>
            </label>
          {% endif %}
        {% endfor %}
        {% for merge_product in merge_products %}
          {% for variant in merge_product.variants %}
            {%- if printed_variant == variant[option_index] -%}
              {%- continue -%}
            {%- endif -%}
            {% if variant[option_index] == current_variant[option_index] or variant.available == true or variant.metafields.custom_fields['enable_notify_me'] == 1 or variant.metafields.custom_fields['enable_sold_out'] == 1 %}
              {%- assign printed_variant = variant[option_index] -%}
              <label class="product-option__single-selector swiper-slide" data-swatch-slide>
                <input type="radio"
                      name="{{- option_prefix -}}{{option_index}}"
                      value="{{variant[option_index]}}"
                      class="hide"
                      data-option-name="{{option_downcase}}"
                      data-product-option="{{ option_index }}"
                      data-option-value="{{variant[option_index] | downcase}}"
                      {% if variant[option_index] == current_variant[option_index] %} checked="checked" {% endif %}
                      data-index="{{ option_index }}"
                      {% if variant.compare_at_price > variant.price %}
                        data-variant-compare-price="{{variant.compare_at_price}}"
                        data-variant-price="{{variant.price}}"
                      {% endif %}
                      data-single-option-selector>

                <div class="product-option__ui">
                  {%- if template == 'product' -%}
                    {%- assign image_sizes = '(max-width: 992px) 20vw, 112px' -%}
                  {%- else -%}
                    {%- assign image_sizes = '(max-width: 992px) 15vw, 5vw' -%}
                  {%- endif -%}
                  {% if variant.compare_at_price > variant.price %}
                    <span class="product-option__discount-badge"></span>
                  {% endif %}
                  {%- render 'responsive-image'
                    image: variant.image,
                    image_sizes: image_sizes,
                    alt: variant.image.alt,
                    loading: 'lazy',
                    class: 'product-option__image'
                  -%}
                </div>
              </label>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="swiper-scrollbar product-option__scrollbar"></div>
      <div class="product-option__arrows">
        <div class="product-option__arrow product-option__arrow-prev" data-arrow-prev></div>
        <div class="product-option__arrow product-option__arrow-next" data-arrow-next></div>
      </div>
    </div>
  </div>
{% endif %}

{% if type == "drawer" %}
  <div class="product-option">
    {% for option in product.options %}
      {% if option == print_option %}
        {% assign option_index = "option" | append: forloop.index %}
        {% break %}
      {% endif %}
    {% endfor %}
    <select class="hide" name="{{option_index}}"
      value="{{current_variant[option_index]}}"
      data-index="{{option_index}}"
      data-product-option="{{option_index}}"
      data-option-name="{{ print_option | downcase }}"
      data-single-option-selector
      data-product-option="option{{forloop.index}}"
      {% if product.metafields.custom_fields["show_fit_guide"] == 1 -%}
        data-show-fit-guide="true"
      {%- endif -%}
    >
    {% for option in product.options_with_values %}
      {% if option.name == print_option %}
        {% for value in option.values %}
          <option {% if option.selected_value == value%} selected {% endif %}>{{value}}</option>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </select>
    <button class="btn btn-outline-primary btn-block product-option__drawer-btn" type="button" data-pdp-drawer-toggler data-drawer-id="{{print_option}}">
      <span class="button__text"
            data-selected-option="{{option_index}}"
            print_option="{{ option_downcase }}"
        >
        Select
        {{ option_downcase | capitalize }}
      </span>
      <div class="btn__ui">
        {% render 'icon-caret-down' %}
      </div>
    </button>
  </div>
{% endif %}

{% if type == "select" %}
  <div class="product-option">
    <div class="selector-wrapper form-group product-option__select">
      <select
        class="form-control"
        name="{{- option_prefix -}}{{option_index}}"
        data-option-name="{{ print_option }}"
        data-product-option="{{ option_index }}"
        data-option-value="{{option_value | downcase}}"
        data-index={{ option_index }}
        data-single-option-selector>
        {% for option in product.options_with_values %}
          {% if option.name == print_option %}
            {% for option_value in option.values %}
              <option value="{{option_value}}">
                {{ option_value }}
              </option>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
{% endif %}