{% if type == 'metafields' %}
  {% assign id = prefix | append: section.id %}
  {% assign bg_color = "#393d49" %}
  {% assign text_color = "#ffffff" %}
  {% assign title_tag = 'h2' %}
  {% assign title = metafields.pcs_title %}
{% else %}
  {% assign s = section.settings %}
  {% assign id = 'link-card-slider-' | append: section.id %}
  {% assign bg_color = s.bg_color %}
  {% assign text_color = s.text_color %}
  {% assign title_tag = s.title_tag %}
  {% assign title = s.title %}
  {% assign heading_copy = s.heading_copy %}
  {% assign heading_cta_title = s.heading_cta_title %}
  {% assign heading_cta_url = s.heading_cta_url %}
  {% assign enable_slider = s.enable_slider %}
{% endif %}


{%- capture cards -%}
  {% if type == 'metafields' %}
    {% for card in metafields.pcs_products %}
    {% assign current_product = all_products[card.product] %}
      {% if current_product != blank %}
        <div class="snap-slider-slide" data-slide>
          {% render 'product-card'
            card_product: current_product,
            color: card.selected_color
          %}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    {% for block in section.blocks %}
      {% assign bs = block.settings %}
      {% if enable_slider %}
        <div data-slide {{block.shopify_attributes}}>
      {% else %}
        <div {{ block.shopify_attributes }}>
      {% endif %}
        {% render 'product-card'
          card_product: bs.card_product,
          color: bs.selected_color
        %}
      </div>
    {% endfor %}
  {% endif %}
{%- endcapture -%}

<div id="{{id}}" class="card-slider {{modifier_class}}" data-section-type="product-card-slider" data-section-id="{{section.id}}">
  <style>
    #{{id}} {
      background-color: {{ bg_color }};
      color: {{ text_color }};
    }

    #{{id}} .product-card__add-to-cart {
      color: {{ text_color }};
      border-color: {{ text_color }};
    }

  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="card-slider__heading">
        <div class="card-slider__info-container">
          {% if title != blank %}
            <{{title_tag}} class="card-slider__title h2">{{ title }}</{{title_tag}}>
          {% endif %}

          {% if heading_copy %}
          <p class="card-slider__copy p3">
            {{ heading_copy }}
          </p>
          {% endif %}
        </div>
        {% if heading_cta_title != blank and heading_cta_url != blank %}
          <div class="card-slider__cta-container">
            <a class="btn-link card-slider__button" href="{{heading_cta_url}}">{{heading_cta_title}}</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% if enable_slider == false %}
      <div class="row product-card__grid-container">
        {{ cards }}
      </div>
    {% else %}
      <div class="row card-slider__slider">
        <div class="flex {{modifier_class}}" data-slider-container>
          {{ cards }}
        </div>
        <button class="card-slider__arrow card-slider__arrow--prev" data-card-slider-arrow-prev></button>
        <button class="card-slider__arrow card-slider__arrow--next" data-card-slider-arrow-next></button>
      </div>
    {% endif %}

  </div>
</div>