{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-card',
              product: { product } - required
              quick_view: { boolean } - optional, defaults to false
              show_swatches: { boolean } - optional, defaults to true
              show_reviews: { boolean } - optional, defaults to false
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}

{% assign card_classes = blank %}

{% if quick_view == blank %}
  {% assign quick_view = false %}
{% endif %}

{% if show_swatches == blank %}
  {% assign show_swatches = true %}
{% endif %}

{% if show_sizes == blank %}
  {% assign show_sizes = false %}
{% endif %}

{% if show_reviews == blank %}
  {% assign show_reviews = false %}
{% endif %}

{% if reverse_card == true %}
  {% assign card_classes = "card--reverse" %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% assign alt_swatch_identifier = 'swatch' %} {% comment %} Used to find swatch images attached at the product level.  We don't want to display them in the gallery. {% endcomment %}

{% assign featured_image = product.featured_image %}
{% if variant != blank %}
  {% assign featured_image = variant.featured_image %}
{% endif %}

{% if product %}

  {% assign product_image_dimension = '760x' %}
  {% assign product_url = variant.url | default: product.url | within: collection %}

  <div id="product-card-{{ product.id }}" class="product-card {{ card_classes }}" data-product-card
  {% unless auto_update_image == false and variant == blank %}
    data-product-merged
  {% endunless %}
  >
    <div class="product-card__contents" data-product-card-contents>
      <div class="product-card__gallery">
        <a href="{{ product_url }}">
          <div class="product-card__gallery-image" data-product-card-gallery>
            <img data-src="{{featured_image | img_url: product_image_dimension }}"
            alt="{{ featured_image.alt }}"
            class="animate"
            data-animate-image-in
            data-sizes="auto"
            data-object-fit="cover"
            data-product-card-main-lazy>
            <div class="product-card__gallery-placeholder"></div>
          </div>

          {% if show_sizes %}
            {%- capture sizes_html -%}
            {% include 'product-dots-sizes'
                        current_color: color %}
            {%- endcapture -%}

            {% if sizes_html != blank %}
              <div class="product-card__sizes-container">
                <div class="variant-message" data-variant-message>
                  Quick Add to Cart
                </div>
                {{ sizes_html }}
              </div>
            {% endif %}
          {% endif %}
        </a>
      </div>
      <div class="product-card__info">

        {% if show_tag %}
          {% capture tag_html %}
            {% if product != blank %}
              {% for tag in product.tags %}
                {% if tag contains 'Badge:' or tag contains 'badge:' %}
                  <span class="badge">{{ tag | remove: 'Badge:' | remove: 'badge:'}}</span>
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endcapture %}

          <div class="product-card__badge-row">
            {% if tag_html != blank %}
              {{ tag_html }}
              {% else %}
              <span class="badge" aria-hidden style="visibility: hidden;">-</span>
            {% endif %}
          </div>
        {% endif %}

        <h3 class="product-card__info-title">
          <a href="{{ product_url }}">{{ product.title }}</a>
        </h3>

        {% if show_colors %}

          {% capture color_html %}
            {% include 'product-colors-counter', product: product, current_color: color %}
          {% endcapture %}

          {% if color_html != blank %}
            <div class="product-card__info-color">
              {{ color_html }}
            </div>
          {% endif %}
        {% endif %}

        <div class="product-card__info-price">

          {% if product.compare_at_price > product.price %}
            <s>{{ product.compare_at_price | money }}</s>
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          {% endif %}

          {% if product.price_varies %}
            {%- assign price = product.price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </div>

        {% if show_reviews %}
          {% comment %} Add your review provider markup here {% endcomment %}
        {% endif %}

      </div>
    </div>

    <script type="application/json" data-product-json>
      {% include 'product-json' %}
    </script>

  </div>

{% endif %}
