{%- comment %}

  Product Detail Form Snippet
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-detail-form',
              product: { product } - required
              current_variant: { variant} - optional
  %}

{% endcomment -%}

{%- capture shipping_modal_html -%}
  {% include 'shipping-modal' %}
{%- endcapture -%}

{% if template.name == 'product' and template.suffix == 'quick-view' %}
  {% assign is_quick_view = true %}
{% endif %}

{% if current_variant == blank %}
  {% assign current_variant = product.selected_or_first_available_variant %}
{% endif %}

{% capture tag_html %}
  {% if product != blank %}
    {% for tag in product.tags %}
      {% if tag contains 'Badge:' or tag contains 'badge:'%}
        <span class="badge">{{ tag | remove: 'Badge:' | remove: 'badge:' }}</span>
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endcapture %}

<div class="product__form {% if product.type == 'Gift Card' %}product__form--gift-card{% endif %}" data-product-detail-form>

  {% if tag_html != blank %}
    <div class="product__badge-row">
      {{ tag_html }}
    </div>
  {% endif %}

  <h1 class="h5 product__title">{{ product.title }}</h1>

  {% if settings.display_reviews == true  and product.type != 'Gift Card' %}
    {% include 'rating-stars' %}
  {% endif %}
  {% unless product.type == 'Gift Card' %}
    <div class="product__price">
      {% include 'product-detail-price', product: product, current_variant: current_variant %}
    </div>
  {% endunless %}
  {% if section.settings.enable_klarna == true %}
    <!-- Placement v2 -->
    <klarna-placement
      class="klarna-messaging"
      data-key="credit-promotion-small"
      data-locale="en-US"
    ></klarna-placement>
    <!-- end Placement -->
  {% endif %}

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <div data-add-to-cart-form-wrapper>
      <form action="/cart/add" method="post" enctype="multipart/form-data" data-add-to-cart-form>
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}

            {% assign base_option_name_downcase = option.name | downcase %}

            {% capture option_alt_ui %}

              {% if base_option_name_downcase == "color" %}
                {% capture collection_product_html %}
                  {% include 'collection-color-dots', product: product %}
                {% endcapture %}

                {% if collection_product_html != blank %}
                  {{ collection_product_html }}
                {% else %}
                  {% include 'product-dots-color', product: product, selected_color: option.selected_value %}
                {% endif %}

              {% endif %}

              {% if base_option_name_downcase == "size" %}
                {% include 'product-dots-sizes', product: product, selected_size: option.selected_value %}

                {% if product.metafields.custom_fields["show_fit_guide"] == 1 and product.metafields.custom_fields['fit_guide_reference'] != blank %}
                  <button class="btn-link product__fit-guide-toggler" type="button" data-fit-guide-toggler>FIT Guide +</button>
                {% endif %}
              {% endif %}

            {% endcapture %}

            <div class="selector-wrapper form-group js">

              <label class="product__selector-header" for="SingleOptionSelector-{{ forloop.index0 }}">
                {% unless base_option_name_downcase == 'color' %}Select {% endunless %}{{ option.name }}:
                {% if option_alt_ui != blank %}
                  <span class="product__selector-option" data-selected-option-{{option.position}}> {{option.selected_value}} </span>
                {% endif %}
              </label>


              <select
                id="SingleOptionSelector-{{ forloop.index0 }}"
                class="form-control"
                data-single-option-selector
                data-index="option{{ option.position }}"
                {% if option_alt_ui != blank %}style="display: none" data-no-chosen{% endif %}>
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
              {% if option_alt_ui == blank %}
                {% include 'icon-caret' %}
              {% endif %}

              {% comment %} Output alternative option UI here {% endcomment %}
              {{ option_alt_ui }}
            </div>

            {% comment %}
              To enable alternative variant option value select UI, create your markup here with the following data attributes.

              parent - 'data-option-position="{{ option.position }}" data-variant-option-value-list'
                child - 'data-variant-option-value="{{ value }}"'

              These data attributes are used to attach click events and update the selected variant when one is clicked.
              The child element should respond to some sort of 'active' class to reflect the selected value.

              See: `_scripts/view/product/productDetailForm.js:onVariantOptionValueClick`

              For example, to show a list of sizes..

              {% if option.name == "Size" %}
                <div data-option-position="{{ option.position }}" data-variant-option-value-list>
                  {% for value in option.values %}
                    <span class="{% if option.selected_value == value %} is-active{% endif %}" data-variant-option-value="{{ value }}">
                      {{ value }}
                    </span>
                  {% endfor %}
                </div>
              {% endif %}

              Be sure to hide the corresponding select tag for that option
            {% endcomment %}

          {% endfor %}
        {% endunless %}

        <select name="id" class="no-js" data-product-select>
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>

        <div class="selector-wrapper form-group" style="display: none;">
          <label for="Quantity">{{ 'products.product.quantity' | t }}:</label>
          <div style="max-width: 80px;">
            <select id="Quantity" name="quantity" class="form-control" {% if current_variant.available == false %}disabled="true"{% endif %} data-product-quantity-select>
              {% for i in (1..5) %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button
          type="submit"
          name="add"
          class="btn btn-primary btn-block"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
      </form>

      {% if settings.shipping_cta_title != blank and shipping_modal_html != blank%}
        <button class="btn-link product__shipping-toggler" data-shipping-modal-trigger>{{ settings.shipping_cta_title }}</button>
      {% endif %}
    </div>
  </div>

  {% comment %}Leaving RTE Here because the designs doesn't show it but it might be required.{% endcomment %}
 {% comment %} <div class="rte">
    {{ product.description }}
  </div>{% endcomment %}


  {% if is_quick_view %}
    {% comment %} This link will get updated on variant change.  See productDetailForm.js {% endcomment %}
    <a href="{{ current_variant.url }}" data-full-details-link>View Full Details</a>
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
    {% include 'product-json', product: product %}
    </script>
  {% endunless %}
</div>

{% if product.metafields.custom_fields["show_fit_guide"] == 1 and product.metafields.custom_fields['fit_guide_reference'] != blank %}
  {% include 'fit-guide-modal' %}
{% endif %}

{% unless is_quick_view or shipping_modal_html == blank %}
  {{ shipping_modal_html }}
{% endunless %}
