{% if type == 'metafields' %}
  {% assign id = prefix | append: section.id %}
  {% assign bg_color = "#393d49" %}
  {% assign text_color = "#ffffff" %}
  {% assign title_tag = 'h2' %}
  {% assign title = metafields.pcs_title %}
{% else %}
  {% assign s = section.settings %}
  {% assign id = 'link-card-slider-' | append: section.id %}
  {% assign bg_color = s.bg_color %}
  {% assign text_color = s.text_color %}
  {% assign title_tag = s.title_tag %}
  {% assign title = s.title %}
  {% assign heading_copy = s.heading_copy %}
  {% assign heading_cta_title = s.heading_cta_title %}
  {% assign heading_cta_url = s.heading_cta_url %}
{% endif %}


<div id="{{id}}" class="card-slider {{modifier_class}}" data-section-type="product-card-slider" data-section-id="{{section.id}}">
  <style>
    #{{id}} {
      background-color: {{ bg_color }};
      color: {{ text_color }};
    }

    #{{id}} .product-card__add-to-cart {
      color: {{ text_color }};
      border-color: {{ text_color }};
    }

  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="card-slider__heading">
        <div class="card-slider__info-container">
          {% if title != blank %}
            <{{title_tag}} class="card-slider__title h2">{{ title }}</{{title_tag}}>
          {% endif %}

          {% if heading_copy %}
          <p class="card-slider__copy p3">
            {{ heading_copy }}
          </p>
          {% endif %}
        </div>
        {% if heading_cta_title != blank and heading_cta_url != blank %}
          <div class="card-slider__cta-container">
            <a class="btn-link card-slider__button" href="{{heading_cta_url}}">{{heading_cta_title}}</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row card-slider__slider" data-card-slider {% if modifier_class != blank %}data-slider-suffix="{{modifier_class}}"{% endif %}>
      <div class="swiper-wrapper">
        {% if type == 'metafields' %}
          {% for card in metafields.pcs_products %}
          {% assign current_product = all_products[card.product] %}
            {% if current_product != blank %}
              <div class="swiper-slide" data-card-slide>
                {% render 'product-card'
                  card_product: current_product,
                  color: card.selected_color
                %}
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for block in section.blocks %}
            {% assign bs = block.settings %}
            <div class="swiper-slide" data-card-slide {{block.shopify_attributes}}>
              {% render 'product-card'
                card_product: bs.card_product,
                color: bs.selected_color
              %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="swiper-scrollbar card-slider__scrollbar" data-scrollbar></div>
      <div class="card-slider__arrow card-slider__arrow--prev" data-slider-arrow-prev></div>
      <div class="card-slider__arrow card-slider__arrow--next" data-slider-arrow-next></div>
    </div>
  </div>
</div>