{%- comment %}

  Promo
  ------------------------------------------------------------------------------

  Usage:

  {% include 'promo',
              p_id: { string } - required
              p_layout: { string } - "left" or "right" - optional - defaults to "left",
              p_type: { number } - 1, 2, 3, 4, 5 - optional
              p_content_max_width: { number } - optional - only applied above $screen-md-min
              p_image: { image }
              p_image_small: { image }
              p_frame_ratio: { string } - optional - see frames.scss
              p_frame_ratio_small: { string } - optional - see frames.scss - defaults to frame_ratio if set
              p_title: { string } - optional
              p_text: { string } - optional
              p_cta_url: { url }
              p_cta_text: { string }
              p_light: { boolean } - optional
  %}

{% endcomment -%}

{% if p_layout != "left" or p_layout != "right" %}
  {% assign p_layout = "left" %}
{% endif %}

{% if p_type != blank and "1 2 3 4 5" contains p_type %}
  {% assign promo_type = p_type %}
{% endif %}

{% if p_frame_ratio != blank and p_frame_ratio_small == blank %}
  {% assign p_frame_ratio_small = p_frame_ratio %}
{% endif %}

<style type="text/css">
  {% if p_frame_ratio != blank %}
    {% if p_image != blank %}
      #promo-{{ p_id }} .frame {
        background-image: url({{ p_image | img_url: '1600x' }});
      }
    {% endif %}
    {% if p_image_small != blank or p_image != blank %}
      @media (max-width: 767px) {
        #promo-{{ p_id }} .frame {
          {% if p_image_small != blank %}
            background-image: url({{ p_image_small | img_url: '900x' }});
          {% elsif p_image != blank %}
            background-image: url({{ p_image | img_url: '900x' }});
          {% endif %}
        }
      }
    {% endif %}
  {% endif %}
  @media (min-width: 768px) {
    {% if p_content_max_width != blank %}
      #promo-{{ p_id }} .promo__text {
        max-width: {{ p_content_max_width | append: 'px' }};
      }
    {% endif %}
  }
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    #promo-{{p_id}} {
      background-color: {{p_background_color}};
    }
  {% endif %}


</style>

{% capture promo_classes %}
  promo promo--layout-{{ p_layout }}
  {% if promo_type != blank %}
    promo--type-{{ promo_type }}
  {% endif %}
{% endcapture %}



<div id="promo-{{ p_id }}" class="{{- promo_classes -}} row no-gutters row-adjusted" data-section-type="promo" data-animated-background="{{ p_background_color }}">
  <div class="promo__col promo__col--image col-20 col-lg-10 offset-lg-1">
    <div class="promo__col-inner">
      <div class="promo__img-wrapper">
        {% if p_frame_ratio != blank %}
          <div class="frame
                      frame--{{ p_frame_ratio_small }}
                      frame--lg-{{ p_frame_ratio }}"
               role="img"
               aria-label="{{ p_image.alt }}">
          </div>
        {% else %}
          {% if p_image != blank %}
            {% if p_image_small != blank %}
              <div class="d-none  d-md-block frame frame--3x4">
                {%- render 'image_tag'
                 image: p_image,
                 object_fit: 'cover'  -%}
              </div>

              <div class="d-block d-md-none frame frame--3x4">
                {%- render 'image_tag'
                 image: p_image_small,
                 object_fit: 'cover'  -%}
              </div>
            {% else %}
              <div class="frame frame--3x4">
                {%- render 'image_tag'
                 image: p_image,
                 object_fit: 'cover'  -%}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}

        {% if p_secondary_icon != blank %}
          <div class="secondary-con">
            {%- render 'image_tag'
                 image: p_secondary_icon,
                 object_fit: 'contain'  -%}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="promo__col promo__col--text col-20 col-lg-11 offset-lg-1">
    <div class="promo__col-inner">
      <div class="promo__text-wrapper {% if p_light == true %}light-text{% endif %}">
        {% if p_eyebrow != blank %}
          <h4 class="promo__eyebrow">
            {{ p_eyebrow }}

            {% if p_eyebrow_icon != blank %}
              <div class="eyebrow-icon">
                {%- render 'image_tag'
                     image: p_eyebrow_icon,
                     object_fit: 'contain'  -%}
              </div>
            {% endif %}
          </h4>
        {% endif %}
        {% if p_title != blank %}
          <h1 class="promo__title text-{{ p_title_color }}">{{ p_title }}</h1>
        {% endif %}
        {% if p_text != blank %}
          <div class="promo__text p2">{{ p_text }}</div>
        {% endif %}
        {% if p_cta_url != blank and p_cta_text != blank %}
          <a href="{{ p_cta_url }}" class="btn {% if p_light == true %}btn-white{% else %}btn-primary{% endif %}">
            {{ p_cta_text }}

            <span class="btn__ui">
              {% include 'icon-arrow' %}
            </span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
