  <div class="sticky-image col-lg-24" data-sticky-image>
    <div class="sticky-image__background-container">
      {% if metafields.si_desktop_image != blank or metafields.si_mobile_image != blank %}
        <picture class="sticky-image__background-image">
          <source media="(min-width: 992px)" data-srcset="{% render "cf-image", image: metafields.si_desktop_image, print: 'url' %}">
          <img data-src="{% render "cf-image", image: metafields.si_mobile_image, print: 'url' %}" alt="{{metafields.si_image_alt}}" class="lazyload">
        </picture>
      {% endif %}

      <div class="sticky-image__info-container">
        {% if collection != blank %}
          <a href="{{collection.url}}" class="badge sticky-image__badge" title="Go to collection {{ collection.title }}">
            {{ collection.title }}
          </a>
        {% endif %}
        <h1 class="sticky-image__title">
          {{ object.title | replace: '-', '&#8288;-&#8288;'}}
        </h1>
        {% unless product.type == 'Gift Card' %}
          {% if object.price != blank %}
            <div class="sticky-image__price" data-price>
              {% render 'product-detail-price', product: object %}
            </div>
          {% endif %}
        {% endunless %}
      </div>
    </div>
  </div>