{%- comment %}

  Tiled Image
  ------------------------------------------------------------------------------

  Usage:

  {% include 'tiled-image',
              ti_id: { string } - required
              ti_background_color: { string }
              ti_light_text: { boolean } - defaults to false
              ti_title_color: { string }
              ti_eyebrow: { string }
              ti_title_tag: { string } - Defaults to h2
              ti_title: { string }
              ti_text: { string }
              ti_cta_text: { string }
              ti_cta_url: { url }
              ti_left_image: { image }
              ti_right_image: { image }
              ti_eyebrow_icon: { image }
  %}

{% endcomment -%}

<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{ti_id}}"] {
      background-color: {{ti_background_color}};
    }
  {% endif %}
</style>

{% assign button_design = "primary" %}

{% if ti_light_text %}
  {% assign button_design = "white" %}
{% endif %}

{% if ti_title_tag == blank %}
  {% assign ti_title_tag = 'h2' %}
{% endif %}

<div class="row no-gutters justify-content-center row-adjusted {% if ti_light_text == true %}light-text{% endif %}" data-animated-background="{{ ti_background_color }}" data-section-type="tiled-image" data-section-id="{{ ti_id }}">
  <div class="col-20 col-lg-22">
    <div class="tiled-image__content">
      <div class="row">
        <div class="col-md-13 col-lg-12">

          <div class="tiled-image__header">
            {%- if ti_eyebrow != blank -%}
              <span class="tiled-image__eyebrow u-text-{{ ti_eyebrow_color }} h5">{{ ti_eyebrow }}</span>
            {%- endif -%}

            {%- if ti_title != blank -%}
              {% if ti_cta_url != blank %}
                <{{ti_title_tag}} class="tiled-image__title h1">
                  <a class="text-{{ti_title_color}}" href="{{ti_cta_url}}">{{ ti_title }}</a>
                </{{ti_title_tag}}>
              {% else %}
                <{{ ti_title_tag }} class="tiled-image__title text-{{ti_title_color}} h1"> {{ ti_title }} </{{ ti_title_tag }}>
              {% endif %}

            {%- endif -%}
          </div>

        </div>
        <div class="col-md-11 col-lg-12 tiled-image__second-column">
          {%- if ti_eyebrow_icon != blank -%}
            <div class="tiled-image__eyebrow-icon">
              {%- render 'image_tag'
                image: ti_eyebrow_icon -%}
            </div>
          {%- endif -%}
          {%- if ti_right_image != blank -%}
            <div class="tiled-image__right-image text-right">
              {% if ti_cta_url != blank %}
                <a href="{{ti_cta_url}}">
                  {%- render 'image_tag'
                    image: ti_right_image -%}
                </a>
              {% else %}
                {%- render 'image_tag'
                  image: ti_right_image -%}
              {% endif %}
            </div>
          {%- endif -%}
        </div>
      </div>

      <div class="row">
        <div class="col-md-14">
          {%- if ti_left_image != blank -%}
            <div class="tiled-image__left-image">
              {% if ti_cta_url != blank %}
                <a href="{{ti_cta_url}}">
                  {%- render 'image_tag'
                    image: ti_left_image -%}
                </a>
              {% else %}
                {%- render 'image_tag'
                  image: ti_left_image -%}
              {% endif %}
            </div>
          {%- endif -%}
        </div>
        <div class="col-md-10">
          <div class="tiled-image__row-content">
            {% if ti_text != blank %}
              <div class="tiled-image__text">{{ ti_text }}</div>
            {% endif %}
            {% if ti_cta_text != blank and ti_cta_url != blank %}
              <div class="tiled-image__button-container">
                <a href="{{ ti_cta_url }}" class="btn btn-{{ button_design }}">
                  {{ ti_cta_text }}
                  <span class="btn__ui">
                    {% include 'icon-arrow' %}
                  </span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
