{% capture vp_content_html %}
  {% assign s = product.metafields.custom_fields %}
  {% assign video_id = s.vp_video_url | remove: 'https://vimeo.com/' %}

  {% if s.vp_title != blank %}
    <h2 class="value-prop__title">{{s.vp_title}}
    </h2>
  {% endif %}
  {% if s.vp_header_image != blank %}
    <div class="value-prop__header-container">
      {% render 'cf-image'
             image: s.vp_header_image,
             size: '500x',
             format: 'pjpg',
             print: 'tag',
             tag_class: 'value-prop__header-image'
           %}
    </div>
  {% endif %}

  {% if s.vp_body_content %}
    <div class="value-prop__body-content">
      {{ s.vp_body_content }}
    </div>
  {% endif %}

  {% if video_id != blank or s.vp_overlay_image != blank %}
    <div id="value-prop-{{product.id}}" class="value-prop__media-container frame frame--1x1 {% unless video_id != blank %} no-video {% endunless %}" data-video-player data-video-id="{{video_id}}" data-video-type="vimeo" data-embed-color="#ffffff" data-background="{{s.vp_background_video}}">
      <div class="video-player__cover value-prop__cover frame__inner" data-video-player-cover>
        {% if s.vp_overlay_image != blank %}
          {% render 'cf-image'
                 image: s.vp_overlay_image,
                 format: 'pjpg',
                 print: 'tag',
                 tag_class: 'video-player__cover-still value-prop__media frame__inner'
               %}
        {% endif %}
        {% if video_id != blank %}
          <div class="value-prop__play-btn">
            {% render 'icon-play-full-color' %}
          </div>
        {% endif %}
      </div>
      {% if video_id != blank %}
        <div class="video-player__embed frame__inner value-prop__video" data-video-player-embed></div>
      {% endif %}
    </div>
  {% endif %}
{% endcapture %}
{% if vp_content_html != blank %}
  <div class="value-prop">
    {{ vp_content_html }}
  </div>
{% endif %}
