{% assign s = product.metafields.custom_fields %}
{% assign video_id = s.vp_video_url | remove: 'https://vimeo.com/' %}

<div class="value-prop">
  {% if s.vp_title != blank %}
    <h2 class="value-prop__title">{{s.vp_title}}</h2>
  {% endif %}
  {% if s.vp_header_image != blank %}
    <div class="value-prop__header-container">
      {% render 'cf-image'
        image: s.vp_header_image,
        size: '500x',
        format: 'pjpg',
        print: 'tag',
        tag_class: 'value-prop__header-image'
      %}
    </div>
  {% endif %}
  <div class="value-prop__body-content">
    {{ s.vp_body_content }}
  </div>

  <div id="value-prop-{{video_id}}" class="value-prop__media-container frame frame--1x1" data-video-player data-video-id="{{video_id}}" data-video-type="vimeo" data-embed-color="#ffffff" data-background="{{s.vp_background_video}}">
    <div class="video-player__cover value-prop__cover frame__inner" data-video-player-cover>
      {% if s.vp_overlay_image != blank %}
        {% render 'cf-image'
          image: s.vp_overlay_image,
          size: '500x',
          format: 'pjpg',
          print: 'tag',
          tag_class: 'video-player__cover-still value-prop__media frame__inner'
        %}
      {% endif %}
      <div class="value-prop__play-btn">
        {% render 'icon-play-full-color' %}
      </div>
    </div>
    {% if s.vp_video_url != blank %}
      <div class="video-player__embed frame__inner value-prop__video" data-video-player-embed></div>
    {% endif %}
  </div>
</div>