<div class="drawer reviews__drawer" data-section-type="yotpo-reviews">
  <div class="drawer__inner reviews__drawer-inner">
    <div class="drawer__header reviews__drawer-header">
      <div class="reviews__drawer-title">
        Reviews
      </div>
      <a href="javascript:void(0);"class="fit-guide__close" data-drawer-close>
        {% render 'icon-close' %}
        <span class="sr-only">Close size guide</span>
      </a>
    </div>
    <div class="drawer__body-contents reviews__drawer-body">
      <div id="product-reviews" class="yotpo-reviews-container">
        <div  class="yotpo yotpo-main-widget"
              data-product-id="{{ product.id }}"
              data-name="{{ product.title | escape }}"
              data-url="{{ shop.url }}{{ product.url }}"
              data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
              data-description="{{ product.description | escape }}">
        </div>
      </div>
    </div>
  </div>
</div>
