<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="fourofour">
  <div class="four04">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="four04__content col-xl-14 col-lg-14 col-md-20 col-sm-20 col-20">

          {% if section.settings.title != blank %}
            <h1 class="four04__title">
              {{ section.settings.title }}
            </h1>
          {% endif %}
    
          {% if section.settings.content != blank %}
              <div class="four04__admin-subtitle">{{ section.settings.content }}</div>
          {% endif %}

          <div class="four04__seach-section">
            <form action="/search" method="get" role="search" data-search-form>
              <div class="minimal-input-box">
    
                <div class="search-icon">{% include 'icon-search' %}</div>
                <input type="hidden" name="type" value="product" />
                <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" class="minimal-input-box__input minimal-input-box__input--search" autocomplete="off" value="{{ search.terms }}" data-search-input>
    
                <div class="search-autocomplete-container" style="display: none;" data-autocomplete-container>
                  <ul>
                    <li class="autocomplete-item loader"></li>
                    <li class="autocomplete-item loader"></li>
                    <li class="autocomplete-item loader"></li>
                  </ul>
                </div>
    
                <button type="submit" class="minimal-input-box__submit minimal-input-box__submit--search">
                  {% include 'icon-arrow' %}
                  <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
.four04 {
  background-image: url('{{ section.settings.background-image | img_url: "1080x1080" }}');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

{% schema %}
  {
    "name": "404 Page",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "404 page title"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "Content"
      },
      {
        "type": "image_picker",
        "id": "background-image",
        "label": "Background image"
      }
    ]
  }
{% endschema %}
