<div data-section-id="{{ section.id }}" data-section-type="ajax-cart">
  <div class="ajax-cart-container" data-ajax-cart-container>
      <form action="/cart" method="post" class="ajax-cart-form" novalidate>
        <div class="ajax-cart__header">
          <span class="ajax-cart__title">{{ 'cart.general.title' | t }}</span>
          <a href="#" class="ajax-cart__close" data-ajax-cart-close>{% include 'icon-close' %}</a>
        </div>
        {% if section.settings.promo_text != "" %}
          <div class="ajax-cart__promo">
            {{ section.settings.promo_text }}
          </div>
        {% endif %}
        <div class="ajax-cart__body" data-ajax-cart-body>
          {% comment %} Filled in via JS {% endcomment %}
        </div>
        <div class="ajax-cart__footer" data-ajax-cart-footer>
          <div class="ajax-cart__footer-top" data-ajax-cart-footer-top>
            {% comment %} Filled in via JS {% endcomment %}
          </div>
          <div class="ajax-cart__footer-bottom">
            <div class="ajax-cart__footer-row">
              <button type="submit" name="checkout" class="btn btn-block btn-secondary">{{ 'cart.general.checkout' | t }}</button>
            </div>
            {% comment %} Hide additional checkout buttons in theme editor {% endcomment %}
            {% if additional_checkout_buttons %}
              {% unless content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
                <div class="ajax-cart__footer-row">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {% endunless %}
            {% endif %}
            <div class="ajax-cart__footer-row ajax-cart__footer-row--btn">
              <a href="/collections/all" class="btn btn-white ajax-cart__footer-btn">
                Keep<br class="d-none d-md-block">
                Shopping
                <span class="btn__ui">
                  {% include 'icon-arrow' %}
                </span>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% capture icon_close %}
  {% include 'icon-close' %}
{% endcapture %}

{% raw %}
  <script type="text/x-handlebars-template" data-ajax-cart-body-template>
    {{#if items}}
      <ul class="ajax-cart__list">
      {{#each items}}
        <li class="ajax-cart__item" data-key="{{ key }}" data-qty="{{ quantity }}" data-ajax-item>
          <div class="ajax-cart__item-image-wrapper">
            <img src="{{ image }}" class="ajax-cart__item-image" data-object-fit="cover" data-object-position="center">
          </div>
          <div class="ajax-cart__title-container">
              <a href="{{ url }}" class="ajax-cart__item-header">
                <div class="ajax-cart__item-title">{{ product_title }}</div>
              </a>
          </div>
          <div class="ajax-cart__item-info">
            <ul class="ajax-cart__item-options">
              {{#unless has_only_default_variant}}
                {{#if variant_options}}
                  {{#each variant_options}}
                    <li>
                      {{ name }}: {{ value }}
                    </li>
                  {{/each}}
                {{else}}
                  {{#if variant_title}}
                    <li>{{ variant_title }}</li>
                  {{/if}}
                {{/if}}
              {{/unless}}
              <li class="ajax-cart__item-price">{{ price }}</li>
              <li>
                {{#if variant_quantity_limit}}
                  <div class="quantity-adjuster" data-quantity-adjuster>
                    <button class="quantity-adjuster__decrement" data-decrement>-</button>
                    <input class="quantity-adjuster__input" type="number" value="{{ quantity }}" min="0" max="{{ variant_quantity_limit }}" />
                    <span class="quantity-adjuster__label">Qty: {{ quantity }} </span>
                    <button class="quantity-adjuster__increment" data-increment>+</button>
                  </div>
                {{else}}
                  Quantity: {{ quantity }}
                {{/if}}
              </li>
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="ajax-cart__empty-message">
      {% endraw %}
      {% if section.settings.empty_text != blank %}
        {{ section.settings.empty_text }}
      {% else %}
        {{ 'cart.general.empty' | t }}
      {% endif %}
      {% raw %}
    </div>
  {{/if}}
  </script>

  <script type="text/x-handlebars-template" data-ajax-cart-footer-top-template>
    <div class="ajax-cart__footer-row">
      <p class="clearfix text-center u-fw-bold">Estimated Total:<br> {{ total_price }}</p>
    </div>
  </script>
{% endraw %}


{% schema %}
  {
    "name": "Ajax Cart",
    "settings": [
      {
        "id": "empty_text",
        "type": "richtext",
        "label": "Empty Text",
        "default": "<p>Your bag is empty</p>"
      },
      {
        "id": "promo_text",
        "type": "richtext",
        "label": "Promo Text",
        "default": "<p>Promotional Message Here</p>"
      }
    ]
  }
{% endschema %}
