{% assign has_image = false %}
{% if article.image %}
  {% assign has_image = true %}
{% endif %}

{% capture article_date %}{{ article.published_at | time_tag: format: 'date' }}{% endcapture %}
{% capture subtitle %}{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: article_date }}{% endcapture %}

<article class="article">
  <div class="article__hero-image">
    {% render 'image_tag'
      image: article.image,
      image_alt: article.image.alt,
    %}
  </div>
  <div class="article__body container">
    {% if article.tags != blank%}
      <div class="article__tags-container">
        {% for tag in article.tags %}
          <a href="/blogs/{{ blog.handle }}/{{tag}}" class="category-capsule"> {{tag}}</a>
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="article__title">
      {{ article.title }}
    </h1>

    <div class="article__author">
      {% if article.user.image %}
        {% render 'image_tag'
        image: article.user.image,
        %}
      {% else %}
        {% assign image_url = 'blog_profile.jpeg' | asset_url | replace: '//', 'https://' %}
        {% render 'image_tag',
          image: image_url,
        %}
      {% endif %}
      by {{ article.author }} on {{ article.published_at | date: '%B %d, %Y' }}
    </div>

    <div class="article__content rte" itemprop="articleBody" data-article-content>
      {{ article.content }}
    </div>
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "image": {{ article.image.src | json }},
    "author": {
      "@type": "Organization",
      "name": "Municipal",
      "url": "{{ shop.url }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Municipal",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ 'logo.svg' | asset_url }}"
      }
    },
    "datePublished": {{ article.published_at | date: '%Y-%m-%d %H:%M:%S.%6N %Z' | json }}
  }
  </script>