{% assign blog_title = blog.title %}
{% assign highlight_color = section.settings.highlight_color %}

{% if section.settings.title != blank %}
  {% assign blog_title = section.settings.title %}
{% endif %}

{% assign blog_description = section.settings.body_content %}

{% if blog.current_tags != blank%}
  {% for block in section.blocks %}
    {% if blog.current_tags contains block.blog %}
      {% if block.settings.title != blank %}
        {% assign blog_title = block.settings.title %}
      {% endif %}
      {% if block.settings.body_content != blank %}
        {% assign blog_description = block.settings.body_content %}
      {% endif %}
      {% if block.settings.highlight_color != blank %}
        {% assign highlight_color = block.settings.highlight_color %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% capture category_tags %}
  {%- for tag in blog.all_tags -%}
    {%- if tag contains 'category:' -%}
      {%- unless forloop.first -%},{%- endunless -%}{{- tag -}}
    {%- endif -%}
  {%- endfor -%}
{% endcapture %}

{% assign category_tags = category_tags | split: ',' %}

<style>
  #{{section.id}} .blog-header__title strong {
    font-weight: normal;
    color: {{ highlight_color }};
  }
</style>
<div id="{{ section.id }}" class="blog" data-section-id="{{ section.id }}" data-section-type="blog">
    <div class="blog-header container-fluid-max text-center">
      <h1 class="h1 blog-header__title">
        {{ blog_title | replace: '<p>', '' | replace: '</p>', '' }}
      </h1>
      {% if section.settings.body_content %}
        <div class="blog-header__description">
          {{ blog_description | replace: '<p>', '<p class="p3">'}}
        </div>
      {% endif %}
      {% if section.settings.show_filters == true %}
        <div class="blog-header__filters">
          <div class="swiper">
            <div class="swiper-wrapper" >
                  <a href="{{ blog.url }}" class="blog-header__filters__item category-capsule{% if current_tags == blank %} category-capsule--highlighted{% endif %} swiper-slide">all</a>
              {% for tag in category_tags %}
                {% assign clean_tag = tag | strip %}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="blog-header__filters__item category-capsule{% if current_tags contains clean_tag %} category-capsule--highlighted{% endif %} swiper-slide">{{ tag | remove: 'category:' }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    {% paginate blog.articles by 16 %}
      <div class="container-fluid-max">
        <div class="content-grid content-grid--1-col content-grid--md-2-col content-grid--lg-3-col">
          {% for article in blog.articles %}
            <div class="content-grid__item">
              {% include 'article-card', article: article, show_author: false, show_tags: false %}
            </div>
          {% endfor %}
        </div>


        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>

    {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "header",
        "content": "General Settings"
      },
      {
        "type": "checkbox",
        "id": "show_filters",
        "label": "Show Filters",
        "info": "Enables filter bubbles below the page title"
      },
      {
        "type": "header",
        "content": "General page header",
        "info": "Used as the general header if a blog-specific one is not selected.  See 'Add blog hero' below."
      },
      {
        "type": "color",
        "id": "highlight_color",
        "label": "Highlight Color",
        "info": "Color of the highlighted text",
        "default": "#00ff00"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title",
        "info": "Title of the selected blog will be used if blank, set the text to bold to place the color highlight"
      },
      {
        "type": "richtext",
        "id": "body_content",
        "label": "Body Content",
        "info": "Small text below the title"
      }
    ],
    "blocks" : [
      {
        "type": "blog_hero",
        "name": "Blog Hero",
        "settings": [
          {
            "type": "header",
            "content": "Page Hero",
            "info": "These settings will affect the page hero for the selected filtered home page."
          },
          {
            "type": "color",
            "id": "highlight_color",
            "label": "Highlight Color",
            "info": "Color of the highlighted text",
            "default": "#00ff00"
          },
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog",
            "info": "Refers to the filter that is applied to the blog articles, so when the filter is enabled, the title will be overridden by this settings"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info": "Title of the selected blog will be used if blank"
          },
          {
            "type": "richtext",
            "id": "body_content",
            "label": "Body Content",
            "info": "Small text below the title"
          }
        ]
      }
    ]
  }
{% endschema %}
