{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

  The tags using for filtering are the ones that starts with:
    - `color:`
    - `size:`

{% endcomment -%}

{% assign filter_types = 'color,size' | split: "," %}

{% paginate collection.products by 50 %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="collection">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-24">
        <div class="collection-filter-bar" data-filter-bar>
          {% comment %}
            Vertically align groupings.  Space them out horizontally, flush to the edges
            Make sure you put the if statements *inside* the .collection-filter-bar__grouping elements to always output tags even if they are empty.
            This will ensure that flex will always space them out appropriately
          {% endcomment %}
          <div class="collection-filter-bar__grouping collection-filter-bar__grouping--breadcrumb">
            <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
              {% if collection.metafields.custom_fields["parent_category"] != blank %}
                <div class="breadcrumbs__crumb">
                  {% assign parent_collection = collections[collection.metafields.custom_fields["parent_category"]] %}
                  <a href="{{ parent_collection.url }}">
                    {{ parent_collection.title }}
                  </a>
                </div>
              {% endif %}
              <div class="breadcrumbs__crumb">
                <span class="breadcrumbs__crumb">
                  {{ collection.title }}
                </span>
              </div>
            </nav>

          </div>
          <div class="collection-filter-bar__grouping collection-filter-bar__grouping--filters">
            <button class="btn btn-cta btn-sm collection-filter-bar__filter-toggler" data-filters-toggler>
              {% include 'icon-filters' %}
              Filter
            </button>

          </div>
        </div>
      </div>
      <div class="collection-section col-20">
        {% if collection.products.size > 0 %}
          <div class="content-grid" data-collection-grid="{{ collection.handle }}">
            {% for product in collection.products %}
              {% for option in product.options_with_values %}
                {% if option.name == 'Color' %}
                  {% assign option_handle = 'option' | append: forloop.index %}
                  {% assign product_colors = option.values %}

                  {% for color in product_colors %}
                    {% assign default_variant = blank %}
                    {% for variant in product.variants %}
                      {% if variant[option_handle] == color and variant.avilable == true %}
                        {% assign default_variant = variant %}
                      {% endif %}
                    {% endfor %}

                    {% comment %}Checks for color filtering{% endcomment %}
                    {% assign hide_card = false %}
                    {% assign color_downcase = color | downcase %}
                    {% if current_tags != blank %}
                      {% for current_tag in current_tags %}
                      {% assign current_tag_downcase = current_tag | downcase  %}
                        {% if current_tag_downcase contains 'color' and current_tag_downcase contains color_downcase %}
                          {% assign hide_card = false %}
                          {% break %}
                        {% else %}
                          {% assign hide_card = true %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <div class="content-grid__item {% if hide_card %} hide{% endif %}" data-grid-item>
                      {% include 'product-card',
                         product: product,
                         variant: default_variant,
                         show_sizes: true,
                         show_colors: true,
                         show_tag: true,
                         color: color %}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% else %}
          <p>{{ 'collections.general.no_matches' | t }}</p>
        {% endif %}

        {% if paginate.pages > 1 %}
        {% assign grid_container = '[data-collection-grid=' | append: collection.handle | append: ']' %}
          {% include 'load-more'
          card_selector: '[data-grid-item]',
          grid_container: grid_container
          %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="filters-drawer drawer drawer--right" data-filters-drawer>
    <div class="drawer__inner">
      <div class="drawer__header">
        <a href="#" class="drawer__close" data-drawer-close>
          {% include 'icon-close' %}
          <span class="sr-only"></span>
        </a>
        <h5 class="drawer__header-title">Filter</h5>
      </div>
      <div class="drawer__body">
        <div class="drawer__body-contents">
          {% include 'collection-sort' %}
          {% include 'collection-filters'
            size_filters: section.settings.size_filters
          %}

          <button class="btn btn-block btn-primary" data-filter-enable data-local-filtering="true">
            View Results
          </button>
          <a href="{{ collection.url }}" class="btn btn-cta btn-block btn-sm collection-filter__reset" data-filter-clear>
            {% include 'icon-close' %} Clear All
          </a>
        </div>
      </div>
    </div>
  </div>

  {% comment %} This JSON is required for filtering and sorting {% endcomment %}
  {% capture collection_url %}
    {% if collection.handle == "all" %}
      /collections/all
    {% else %}
      {{ collection.url }}
    {% endif %}
  {% endcapture %}
  {% comment %}Create filter url if the collection is already filtered{% endcomment %}
  {% if current_tags != blank %}
    {% assign handleized_tags = current_tags | join: '+' %}
    {% capture filter_url %}
      {{ collection_url | append: '/' | append: handleized_tags }}
    {% endcapture %}
  {% endif %}

  <script type="application/json" data-collection-json>
    {
      "url": {{ collection_url | strip | json }},
      "sortDefault": {{ collection.default_sort_by | json }},
      "sortApplied": {{ collection.sort_by | json }}
      {%- if filter_url != blank -%}
        ,"filterUrl": {{ filter_url | json }}
      {%- endif -%}
    }
  </script>
</div>

{% endpaginate %}

{% schema %}
{
  "name": "collection",
  "settings": [
    {
      "type": "text",
      "id": "size_filters",
      "label": "Size filters",
      "default": "s, m, l, xl, 2xl",
      "info": "Define the order of the size filters, separate each value with a comma"
    }
  ]
}
{% endschema %}
