{% capture sidebar_html %}
  {% include 'account-sidebar' %}
{% endcapture %}

{% assign title = 'customer.addresses.title' | t %}

{% paginate customer.addresses by 20 %}

  <div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-addresses">
    <div class="container-fluid">

      <div class="row">

        {{ sidebar_html }}

        <div class="account-content{% if sidebar_html != blank %} col-md-15{% endif %}">

          {% comment %} START - Hidden Address Forms! {% endcomment %}
          <div id="AddressNewForm" class="hide" data-address-new-form>
            <h4 class="account__title account__title--addresses">{{ 'customer.addresses.add_new' | t | newline_to_br  }}</h4>

            {% include 'customer-new-address-form' %}
          </div>

          {% if customer.addresses.size > 0 %}
            {% for address in customer.addresses %}
              <div id="EditAddress_{{ address.id }}" class="hide" data-address-edit-form>
                <h4 class="account__title account__title--addresses">{{ 'customer.addresses.edit_address' | t | newline_to_br  }}</h4>

                {% include 'customer-edit-address-form', address: address %}
              </div>
            {% endfor %}
          {% endif %}
          {% comment %} END - Hidden Address Forms! {% endcomment %}

          <div data-address-main-content>

            <h4 class="account__title">{{ 'customer.addresses.title' | t }}</h4>

            {% if customer.addresses.size > 0 %}

              <div class="row">
                {% for address in customer.addresses %}
                  <div class="col-24 account__addresses-column">

                    <div class="account__customer-address">
                      {% if address == customer.default_address %}
                        <h5 class="account__block-title">Default Address</h5>
                      {% endif %}
                      <span>{{ address.first_name }} {{ address.last_name }}</span>
                      <br />
                      <span>{{ address.address1 }}, {{ address.address2 }}</span>
                      <br />
                      <span>{{ address.city }}, {{ address.province_code }} {{ address.zip }}</span>
                      <br />
                      <span>{{ address.country }}</span>
                      <div class="account__customer-address-footer">
                        <a href="#" class="btn btn--small btn--underlined" data-address-edit-toggle data-form-id="{{ address.id }}">
                          {{ 'customer.addresses.edit' | t }}
                        </a>
                        <span class="d-none d-sm-inline">&middot;</span>
                        <span>
                          <br class="d-block d-sm-none" />
                          <br class="d-block d-sm-none" />
                        </span>
                        <a href="#" class="btn btn--small btn--underlined" data-address-delete data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                          {{ 'customer.addresses.delete' | t }}
                        </a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <button type="button" class="btn btn-primary" data-address-new-toggle>{{ 'customer.addresses.add_new' | t }}</button>

            {% else %}

              <p>{{ 'customer.addresses.none' | t }}</p>
              <a href="/account/addresses#new" class="btn btn-primary btn-block" data-address-new-toggle>{{ 'customer.account.add_new_address' | t }}</a>

            {% endif %}

          </div>
         </div>

      </div>
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
