{%- comment %}
  Combines customer login + register forms into one template
{% endcomment -%}

<div class="account__layout" data-section-id="{{ section.id }}" data-section-type="customers-login" style="background-image: url({{ settings.account_form_bg | image_url: width:'1920' }});">

  <div class="container">

    <div class="row justify-content-center">
      <div class="account__info-container">
        <div id="CustomerLoginForm">
          <h1 class="account__header">{{ 'customer.login.title' | t }}</h1>

          <div class="account__description">{{ 'customer.login.subtitle' | t }}</div>

          {% include 'customer-login-form' %}
        </div>

        <div id="RecoverPasswordForm" class="hide">
          <h2 class="account__header">{{ 'customer.recover_password.title' | t | newline_to_br }}</h2>

          {% if section.settings.recover_subtitle != blank %}
            <div class="account__description">{{ section.settings.recover_subtitle }}</div>
          {% else %}
            <div class="account__description">{{ 'customer.recover_password.subtext' | t }}</div>
          {% endif %}

          <div class="form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>

          {% include 'customer-recover-password-form' %}

        </div>
      </div>
    </div>

  </div>

</div>