{% paginate customer.orders by 5 %}
{% if settings.account_pages_bg != blank %}
  <div class="account__bg-image-container" style="background-color: {{ settings.account_pages_bg_color }};">
    {% render 'responsive-image'
      image: settings.account_pages_bg,
      loading: 'eager'
      image_sizes: '100vw'
      class: "account__bg-image"
    %}
  </div>
{% endif %}
<div class="account__layout" data-section-id="{{ section.id }}" data-section-type="customers-addresses">
  <div class="container">
    <div class="row justify-content-center">
      <div class="account__info-container account__info-container--thin-padding">
        <div class="account__header account__customer-name">{{ customer.name }}</div>
        <div class="account__info-buttons">
          {% render 'account-links' %}
        </div>
        {% if customer.orders.size >= 1 %}
          {% for order in customer.orders %}
            <div class="account__order-group">
              <div class="account__order-group-data">
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Order #</span>
                  <span class="account__info-value">
                    {{ order.order_number }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Date</span>
                  <span class="account__info-value">
                    {{ order.created_at | date: '%B %d, %Y' }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Shipped To</span>
                  <span class="account__info-value">
                    {{ order.shipping_address.name }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Fulfillment</span>
                  <span class="account__info-value">
                    {{ order.fulfillment_status_label }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Amount</span>
                  <span class="account__info-value">
                    {{ order.total_price | money }}
                    </span>
                </div>
              </div>
              <div class="account__order-group-link">
                <a href="{{order.order_status_url}}" class="btn-link account__order-link"> Order Details </a>
                {% comment %}get most recent fulfillment date of all line items{% endcomment %}
                {% if settings.enable_return_link and order.fulfillment_status == "fulfilled" %}
                  {% assign today = "now" | date: "%s" %}
                  {% for item in order.line_items %}
                    {% assign = item_date = item.fulfillment.created_at | date: "%s" %}
                    {% if forloop.first %}
                      {% assign fulfill_date = item_date %}
                    {% endif %}
                    {% if item_date > fulfill_date %}
                      {% assign fulfill_date = item_date %}
                    {% endif %}
                  {% endfor %}
                  {% comment %}Determine if fulfillment is great than 60 ago{% endcomment %}
                  {% assign diff_seconds = today | minus: fulfill_date %}
                  {% assign diff_days = diff_seconds | divided_by: 3600 | divided_by: 24 %}
                {% if diff_days < settings.days_to_return %}
                <a href="https://returns.municipal.com/start_return?ext_order_number={{ order.name }}&customer_id={{ customer.id }}" class="btn-link account__order-link"> Start Return </a>
                {% endif %}
              {% endif %}
              </div>
            </div>
          {% endfor %}
          {% if paginate.pages > 1 %}
            <div class="account__pagination">
              {% render 'pagination'
              paginate: paginate
              custom_param: "view=orders" %}
            </div>
          {% endif %}
        {% else %}
        <p class="p5 mb-0">
          You haven't placed any orders yet.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
