{% if settings.account_pages_bg != blank %}
  <div class="account__bg-image-container" style="background-color: {{ settings.account_pages_bg_color }};">
    {% render 'responsive-image'
      image: settings.account_pages_bg,
      loading: 'eager'
      image_sizes: '100vw'
      class: "account__bg-image"
    %}
  </div>
{% endif %}
<div class="account__layout" data-section-id="{{ section.id }}" data-section-type="customers-addresses">
  <div class="container">
    <div class="row justify-content-center">
      <div class="account__info-container account__info-container--thin-padding" data-address-main-content>
        <div class="account__header account__customer-name">{{ customer.name }}</div>
        <div class="account__info-buttons">
          {% render 'account-links' %}
        </div>
        {% if customer.default_address %}
          <div class="account__address-group">
            <div class="account__address-group-data">
              <div class="account__address-default-tag">Default</div>
              {{ customer.default_address.first_name }} {{ customer.default_address.last_name }} <br/>
              {{ customer.default_address.address1 }} {{ customer.default_address.address2 }} <br />
              {{ customer.default_address.city }}, {{ customer.default_address.province_code }} {{ customer.default_address.zip }}
            </div>
            <div class="account__address-group-link">
              <button class="account__address-edit-button" data-address-edit-toggle data-form-id="{{ customer.default_address.id }}">
                <div aria-hidden>
                  {% render 'icon-edit' %}
                </div>
                <div class="sr-only">Edit Address</div>
              </button>
            </div>
          </div>
        {% endif %}
        {% paginate customer.addresses by 5 %}
          {% for address in customer.addresses %}
            {% unless address == customer.default_address %}
              <div class="account__address-group">
                <div class="account__address-group-data">
                  {{ address.first_name }} {{ address.last_name }} <br/>
                  {{ address.address1 }} {{ address.address2 }} <br />
                  {{ address.city }}, {{ address.province_code }} {{ address.zip }}
                </div>
                <div class="account__address-group-link">
                  <button class="account__address-edit-button" data-address-edit-toggle data-form-id="{{ address.id }}">
                    <div aria-hidden>
                      {% render 'icon-edit' %}
                    </div>
                    <div class="sr-only">Edit Address</div>
                  </button>
                </div>
              </div>
            {% endunless %}
          {% endfor %}
        {% endpaginate %}
        <div class="account__address-button-container">
          <button type="button" class="account__address-button btn btn-primary" data-address-new-toggle>Add New Address</button>
        </div>
      </div>

      <div id="AddressNewForm" class="account__info-container account__info-container--thin-padding hide" data-address-new-form>
        <div class="account__header account__customer-name">{{ 'customer.addresses.add_new' | t }}</div>
        {% include 'customer-new-address-form' %}
      </div>

      {% if customer.addresses.size > 0 %}
        {% for address in customer.addresses %}
          <div id="EditAddress_{{ address.id }}" class="account__info-container account__info-container--thin-padding hide" data-address-edit-form>
            <div class="account__header account__customer-name">{{ 'customer.addresses.edit_address' | t }}</div>
            {% include 'customer-edit-address-form', address: address %}
          </div>
        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>