{% capture sidebar_html %}
  {% include 'account-sidebar' %}
{% endcapture %}

{% capture title %}
  {% if customer.first_name %}
    {{ 'Welcome, ' | append: customer.first_name | append: '!' }}
  {% else %}
    {{ 'customer.account.title' | t }}
  {% endif %}
{% endcapture %}

{% paginate customer.orders by 1000 %}

  <div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-account">
    <div class="container-fluid">
      <div class="row">

        {{ sidebar_html }}

        <div class="account-content{% if sidebar_html != blank %} col-md-15{% endif %}">

          {% comment %} Account Stuff {% endcomment %}
          <div data-account-section="account">


            <h4 class="account__title">NAME</h4>
            <div class="row">
              <div class="col-lg-11">
                <div class="account-block">
                  <p class="account-block__content"> {{ customer.name }}</p>
                </div>
              </div>
            </div>

            <h4 class="account__title">{{ 'customer.account.email' | t }}</h4>
            <div class="row">
              <div class="col-lg-11">
                <div class="account-block">
                  <div class="account-block__content">{{ customer.email }}</div>
                </div>
              </div>
            </div>

            <h4 class="account__title">{{'customer.account.password' | t }}</h4>
            <div class="row">
              <div class="col-lg-11">
                <div class="account-block">
                  <div>********</div>
                  <a href="#recover" class="btn btn--underlined w-auto" data-toggle-password>{{ 'customer.recover_password.title' | t }}</a>
                  <div class="form-success hide" id="ResetSuccess">
                    {{ 'customer.recover_password.success' | t }}
                  </div>
                </div>
              </div>
            </div>

            <h4 class="account__title">{{ 'customer.addresses.title' | t }}</h4>
            <div class="row">
              <div class="col-lg-12">
                {% if customer.default_address %}
                    <div class="account__customer-address">
                      <h5 class="account-address__title">{{ 'customer.addresses.default_address' | t }}</h5>
                      <span>{{ customer.default_address.first_name }} {{ customer.default_address.last_name }}</span>
                      <br />
                      <span>{{ customer.default_address.address1 }}, {{ customer.default_address.address2 }}</span>
                      <br />
                      <span>{{ customer.default_address.city }}, {{ customer.default_address.province_code }} {{ customer.default_address.zip }}</span>
                      <br />
                      <span>{{ customer.default_address.country }}</span>
                      <div class="account__customer-address-footer">
                        <a href="/account/addresses#edit-{{customer.default_address.id}}" class="btn btn--small btn--underlined address-btn" data-address-edit-toggle data-form-id="{{ customer.default_address.id }}">
                          {{ 'customer.addresses.edit' | t }}
                        </a>
                        <a href="#" class="btn btn--small btn--underlined address-btn" data-address-delete data-form-id="{{ customer.default_address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                          {{ 'customer.addresses.delete' | t }}
                        </a>
                      </div>
                    </div>
                {% endif %}
                {% for address in customer.addresses %}
                  {% unless address == customer.default_address %}
                    <div class="account__customer-address">
                      <span>{{ address.first_name }} {{ address.last_name }}</span>
                      <br />
                      <span>{{ address.address1 }}, {{ address.address2 }}</span>
                      <br />
                      <span>{{ address.city }}, {{ address.province_code }} {{ address.zip }}</span>
                      <br />
                      <span>{{ address.country }}</span>
                      <div class="account__customer-address-footer">
                        <a href="/account/addresses#edit-{{address.id}}" class="btn btn--small btn--underlined address-btn" data-address-edit-toggle data-form-id="{{ address.id }}">
                          {{ 'customer.addresses.edit' | t }}
                        </a>
                        <a href="#" class="btn btn--small btn--underlined address-btn" data-address-delete data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                          {{ 'customer.addresses.delete' | t }}
                        </a>
                      </div>
                    </div>
                  {% endunless %}
                {% endfor %}
                <a href="/account/addresses#new" class="btn btn-primary btn-block">{{ 'customer.account.add_new_address' | t }}</a>
              </div>
            </div>
          </div>

          {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
          {% endif %}

          {% comment %} Password Stuff {% endcomment %}
          <div class="hide" data-account-section="password-recover">

            <h4 class="account__title">{{ 'customer.recover_password.title' | t }}</h1>

            <div class="account-block">
              <div class="account-block__content">
                <p>{{ 'customer.recover_password.subtext' | t }}</p>
              </div>
            </div>
            <div class="account-block">
              {% form 'recover_customer_password' %}
                {{ form.errors | default_errors }}

                {% if form.posted_successfully? %}
                  <span class="hide reset-password-success"></span>
                {% endif %}

                <div class="form-group">
                  <label for="RecoverEmail" class="sr-only">
                    {{ 'customer.recover_password.email' | t }}
                  </label>
                  <input type="email"
                    name="email"
                    id="RecoverEmail"
                    class="form-control account-form__field"
                    placeholder="{{ 'customer.recover_password.email' | t }}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off">
                </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
                  <button type="button" class="btn btn-link" data-toggle-password>
                    {{ 'customer.recover_password.cancel' | t }}
                  </button>
                </div>

              {% endform %}
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

{% endpaginate %}
