{%- comment %}
  Combines customer login + register forms into one template
{% endcomment -%}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-login">

  {% assign page_hero_id = 'page-hero-' | append: section.id %}

  <div class="container">

    <div class="row justify-content-center row-adjusted">
      <div class="col-22 col-lg-12">
        <div class="form-success alert alert-success text-center hide" id="ResetSuccess">
          {{ 'customer.recover_password.success' | t }}
        </div>
        <div id="CustomerLoginForm">
          <h1 class="customer-drawer__title h6">{{ 'customer.login.title' | t }}</h1>

          <div class="mb-3 p3">{{ 'customer.login.subtitle' | t }}</div>

          {% include 'customer-login-form' %}
        </div>

        <div id="RecoverPasswordForm" class="hide">
          <h2 class="customer-drawer__title h6">{{ 'customer.recover_password.title' | t | newline_to_br }}</h2>

          {% if section.settings.recover_subtitle != blank %}
            <div class="mb-3 p3">{{ section.settings.recover_subtitle }}</div>
          {% else %}
            <div class="mb-3 p3">{{ 'customer.recover_password.subtext' | t }}</div>
          {% endif %}

          {% include 'customer-recover-password-form' %}

        </div>
      </div>
    </div>

  </div>

</div>
