<div class="account__layout" style="background-image:url({{ settings.account_pages_bg | image_url: width: '1920' }}); background-color: {{ settings.account_pages_bg_color }};" data-section-id="{{ section.id }}" data-section-type="customers-addresses">
  <div class="container">
    <div class="row justify-content-center">
      <div class="account__info-container account__info-container--thin-padding">
        <div class="account__header account__customer-name">{{ customer.name }}</div>
        <div class="account__info-buttons">
          {% render 'account-links' %}
        </div>
        {% paginate customer.orders by 5 %}
        {% if customer.orders > 1 %}
          {% for order in customer.orders %}
            <div class="account__order-group">
              <div class="account__order-group-data">
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Order #</span>
                  <span class="account__info-value">
                    {{ order.order_number }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Date</span>
                  <span class="account__info-value">
                    {{ order.created_at | date: '%B, %d, %Y' }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Shipped To</span>
                  <span class="account__info-value">
                    {{ order.shipping_address.name }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Fulfillment</span>
                  <span class="account__info-value">
                    {{ order.fulfillment_status_label }}
                    </span>
                </div>
                <div class="account__info-group account__info-group--no-space">
                  <span class="account__info-label">Amount</span>
                  <span class="account__info-value">
                    {{ order.total_price | money }}
                    </span>
                </div>
              </div>
              <div class="account__order-group-link">
                <a href="{{order.order_status_url}}" class="btn-link account__order-link"> Order Details </a>
              </div>
            </div>
          {% endfor %}
          {% if paginate.pages > 1 %}
            <div class="account__pagination">
              {% render 'pagination'
              paginate: paginate
              custom_param: "view=orders" %}
            </div>
          {% endif %}
        {% else %}
        <p class="p5 mb-0">
          You haven't placed any orders yet.
        </p>
        {% endif %}

        {% endpaginate %}
      </div>
    </div>
  </div>
</div>
