{% assign banner_icon  = collection.metafields.custom_fields["banner_icon"] %}
{% assign banner_copy = collection.metafields.custom_fields["banner_copy"] %}
{% assign banner_video_bg = collection.metafields.custom_fields["banner_video_background"] %}
{% assign banner_video_url = collection.metafields.custom_fields["banner_video_url"] %}
{% assign banner_light_bg = collection.metafields.custom_fields["banner_light_background"] %}
{% assign title_tag = collection.metafields.custom_fields["title_tag"] %}
{% assign banner_image = collection.metafields.custom_fields["banner_image"] %}
{% assign banner_image_mobile = collection.metafields.custom_fields["banner_image_mobile"] | default: banner_image %}
{% assign collection_classes = '' %}

{% if collection.metafields.custom_fields["banner_title"] != blank %}
  {% assign banner_title = collection.metafields.custom_fields["banner_title"] %}
{% else %}
  {% assign banner_title = collection.title %}
{% endif %}

{% if banner_video_url == blank and banner_video_bg == blank %}
  {% assign collection_classes = collection_classes | append:  'no-video'%}
{% endif %}

{% if title_tag == blank %}
  {% assign title_tag = 'h2' %}
{% endif %}


<div class="collection-banner findify-collection-banner layout-content-wrapper {% if banner_light_bg == 1 %}light{% endif %} {{ collection_classes }}" data-section-id="{{ section.id }}" data-section-type="collection-banner">
  <div class="container-fluid">
    <div class="row justify-content-center row-adjusted">
      <div class="col-lg-24 col-22 collection-banner-inner-wrapper">

        <div>
          {% comment %}handwritten svg placeholder{% endcomment %}
          {% if banner_image != blank or banner_image_mobile != blank %}
            <div class="collection-banner__image hidden-on-mobile">
              {% render 'image_tag'
                          image: banner_image,
                          object_fit: "contain"
              %}
            </div>
            <div class="collection-banner__image hidden-on-desktop">
              {% render 'image_tag'
                          image: banner_image_mobile,
                          object_fit: "contain"
              %}
            </div>
          {% endif %}

          <{{title_tag}} class="collection-banner__title text-left h1">{{ banner_title }}</{{title_tag}}>
          {% if banner_copy != blank %}
            <div class="collection-banner__content text-left p2">{{ banner_copy }}</div>
          {% endif %}
        </div>

        {% if banner_video_url != blank and banner_video_bg != blank %}
          {% assign yt_video_id = banner_video_url | remove: "https://www.youtube.com/watch?v=" %}

          <div class="collection-banner__video">
            <div id="video-player-{{ yt_video_id }}" class="video-player" data-video-player data-video-id="{{ yt_video_id }}" data-video-type="youtube" data-background="true" data-embed-color="#000000">
              <div class="video-player__cover" data-video-player-cover>
                <div class="video-player__cover-still lazyload" data-background="{{ banner_video_bg }}"></div>
              </div>
              <div class="video-player__embed" data-video-player-embed></div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
