{% assign text_color = section.settings.text_color %}
{% assign highlight_color = section.settings.highlight_color %}
{% assign bgcolor = section.settings.bgcolor %}
{% assign text_alignment = section.settings.text_alignment %}
{% assign title_tag = section.settings.title_tag %}
{% assign title = section.settings.title %}
{% assign text_wrapping = section.settings.text_wrapping %}
{% assign image = section.settings.image %}
{% assign inline_image = section.settings.inline_image %}
{% assign overlap = section.settings.overlap | divided_by: 100.0 %}

{% capture inline %}
  <span class="headline__image-inline-wrapper">
  {% render 'responsive-image'
    image: inline_image,
    alt: inline_image.alt,
    loading: "lazy",
    image_sizes: "1480px",
    class: "headline__image-inline",
    dataAttributes: "role='presentation'"
  %}
  </span>
{% endcapture %}

<style>
  {% if bgcolor != blank %}
  #headline-{{ section.id }} {
    background-color: {{ bgcolor }};
  }
  {% endif %}

  #headline-{{ section.id }} .headline__title {
    color: {{ text_color }};
    {% if text_wrapping %}
    text-wrap: balance;
    {% endif %}
  }

  #headline-{{ section.id }} .highlight-text {
    color: {{ highlight_color }};
  }

  {%-
    # Height of letters is less than defined font size. Can't use font-sze as
    # reference and instead have to manually figure out. We need to calculate the
    # decrease in font size between desktop and mobile to determine the
    # placeholder size on mobile. This allows overlaid image to float atop of
    # the placeholder which takes up space in the natural flow of the text while
    # still allowing the image to overlap.
    # Desktop Font Size: 87px (62px letter size)
    # Mobile Font Size: 35px (25px letter size)
    # .4675 decrease in font size
  -%}
  {% assign mobile_diff = 25 | divided_by: 62.0 %}
  {% assign overlay_w = inline_image.width %}
  {% assign overlay_h = inline_image.height %}
  {% assign overlay_w_mobile = overlay_w | times: mobile_diff %}
  {% assign overlay_h_mobile = overlay_h | times: mobile_diff %}
  {% assign placeholder_w = overlay_w %}
  {% assign placeholder_w_mobile = overlay_w | times: mobile_diff %}
  {% assign placeholder_h_mobile = overlay_h | times: mobile_diff %}
  {% if overlap > 0 %}
    {% assign placeholder_w = overlay_w | times: overlap | minus: overlay_w | abs %}
    {% assign placeholder_w_mobile = overlay_w_mobile | times: overlap | minus: overlay_w_mobile | abs %}
  {% endif %}

  #headline-{{ section.id }} .headline__image-inline-wrapper:before {
    width: {{ overlay_w }}px;
    height: {{ overlay_h }}px;
    background-image: url('{{ inline_image | image_url: width: overlay_w }}');
    background-size: {{ overlay_w }}px {{ overlay_h }}px;
  }

  #headline-{{ section.id }} .headline__image-inline {
    width: {{ placeholder_w }}px;
  }

  @media screen and (max-width: 767px) {
    #headline-{{ section.id }} .headline__image-inline-wrapper:before {
      width: {{ overlay_w_mobile }}px;
      height: {{ overlay_h_mobile }}px;
      background-size: {{ overlay_w_mobile }}px {{ overlay_h_mobile }}px;
    }

    #headline-{{ section.id }} .headline__image-inline {
      width: {{ placeholder_w_mobile }}px; /* 532 * 46.75% (% diff between font heights 77 => 36) => with horizontal overlap 532-(532*46.75%)*overlap)=199 */
    }
  }

</style>

<div id="headline-{{ section.id }}" data-section-id="{{ section.id }}" class="headline" data-section-type="headline">
  <div class="container-fluid-max {%- if text_alignment == "center" %} text-center{%- endif -%}">
    <div class="headline__inner">
      {% if image != blank %}
        {% render 'responsive-image'
          image: image,
          alt: image.alt,
          loading: "lazy",
          image_sizes: "1480px",
          class: "headline__image"
        %}
      {% endif %}
      {% if title != blank %}
        <{{ title_tag }} class="headline__title h1">
          {{ title | replace: '<strong>', '<span class="highlight-text">' | replace: '</strong>', '</span>' | replace: '[image]', inline  | remove: '<p>' | remove: '</p>'}}
        </{{ title_tag }}>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Headline",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight Color",
      "default": "#FF00FF",
      "info": "Color for the highlighted text on the title of the module"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color"
    },
    {
     "type": "select",
     "id": "text_alignment",
     "label": "Text Alignment",
     "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "info": "Use Bold to create a color highlight on the text. Use [image] to place the image within the flow of text."
    },
    {
      "type": "checkbox",
      "id": "text_wrapping",
      "label": "Text Wrapping",
      "default": false,
      "info": "Let the browser handle when text should wrap. Can help eliminate content orphans."
    },
    {
      "type": "image_picker",
      "id": "inline_image",
      "label": "Inline Image",
      "info": "Image used within the flow of text"
    },
    {
      "type": "range",
      "id": "overlap",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Horizontal Overlap",
      "default": 30,
      "info": "Percentage amount that the image should overlap adjacent text"
    }
  ],
  "presets": [
    {
      "name": "V2 - Headline",
      "category": "Misc"
    }
  ]
}
{% endschema %}
