{% assign text_color = section.settings.text_color %}
{% assign highlight_color = section.settings.highlight_color %}
{% assign bgcolor = section.settings.bgcolor %}
{% assign title_tag = section.settings.title_tag %}
{% assign title = section.settings.title %}
{% assign cta_text = section.settings.cta_text %}
{% assign cta_url = section.settings.cta_url %}
{% assign button_style = section.settings.button_style %}
{% assign content = section.settings.content %}
{% liquid
  assign look_enabled = false
  if section.settings.looks_page != blank
    assign look_enabled = true
    assign looks = pages[section.settings.looks_page].metafields.custom_fields.complete_the_look
    assign current_look_id = section.settings.look_id
    assign current_look = blank
    for look in looks
      if look.look_id == current_look_id
        assign current_look = look
        break
      endif
    endfor
  endif
%}

<style>
  {% if bgcolor != blank %}
  #heading-media-{{ section.id }} {
    background-color: {{ bgcolor }};
  }
  {% endif %}

  #heading-media-{{ section.id }} .heading-media__title,
  #heading-media-{{ section.id }} .heading-media__content,
  #heading-media-{{ section.id }} .image-caption__text {
    color: {{ text_color }};
  }

  #heading-media-{{ section.id }} .highlight-text {
    color: {{ highlight_color }};
  }
</style>

<div id="heading-media-{{ section.id }}" data-section-id="{{ section.id }}" class="heading-media" data-section-type="heading-media">
  <div class="container-fluid-max">
    <div class="heading-media__columns">
      <div class="heading-media__column">
        {% if title != blank %}
          <{{ title_tag }} class="heading-media__title h1">
            {{ title | replace: '<strong>', '<span class="highlight-text">' | replace: '</strong>', '</span>' | remove: '<p>' | remove: '</p>'}}
          </{{ title_tag }}>
        {% endif %}
        {%- if cta_text != blank and cta_url != blank -%}
        <a href="{{ cta_url }}" class="heading-media__cta btn {{ button_style }}">
          {{ cta_text }}
        </a>
        {%- endif -%}
      </div>
      <div class="heading-media__column">
        {% if look_enabled %}
          <a href="javascript:void(0)" class="image-caption__link"
          data-shop-the-look-trigger
          data-shop-the-look-products='
            [
              {%- for i in (1..6) -%}
                {%- assign product_key = 'product_' | append: forloop.index -%}
                {%- assign color_key = 'product_' | append: forloop.index | append: '_color' -%}
                {%- if current_look[product_key] != blank -%}
                  {%- if forloop.index > 1 -%} , {%- endif -%}
                  { "product_handle": {{ current_look[product_key] | json }},
                    "selected_color": {{ current_look[color_key] | json }}}
                {%- else -%}
                  {% break %}
                {%- endif -%}
              {%- endfor -%}
            ]
          '>
        {% endif %}

        {% include 'image-caption'
          id: section.id,
          s: section.settings
        %}

        {% if look_enabled %}
          </a>
        {% endif %}
        {% if content != blank %}
        <div class="heading-media__content">
          {{ content }}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "2 Col - Heading + Media",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight Color",
      "default": "#FF00FF",
      "info": "Color for the highlighted text on the title of the module"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Content - 1st Column"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "info": "Use Bold to create a color highlight on the text"
    },
    {
      "type": "header",
      "content": "CTA Button"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "View More Content"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
          "value": "btn-primary",
          "label": "Black"
        },
       {
         "value": "btn-secondary",
         "label": "Blue"
       },
       {
         "value": "btn-white",
         "label": "White"
       }
      ]
    },
    {
      "type": "header",
      "content": "Content - 2nd Column"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "caption",
      "label": "Caption"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "page",
      "id": "looks_page",
      "label": "Looks",
      "info": "Page containing all the looks metafields populated"
    },
    {
      "type": "text",
      "id": "look_id",
      "label": "Look ID",
      "info": "Unique identifier for the look set on the metafield Look ID"
    }
  ],
  "presets": [
    {
      "name": "2 Col - Heading + Media",
      "category": "Media"
    }
  ]
}
{% endschema %}
