{% assign text_color = section.settings.text_color %}
{% assign bgcolor = section.settings.bgcolor %}

<style>
  #image-caption-{{ section.id }} {
    background-color: {{ bgcolor }};
  }

  #image-caption-{{ section.id }} .image-caption__text {
    color: {{ text_color }};
  }
</style>

<div id="image-caption-{{ section.id }}" data-section-id="{{ section.id }}" class="image-caption" data-section-type="image-caption">
  <div class="container-fluid-max">

    {% include 'image-caption'
      id: section.id,
      s: section.settings
    %}

  </div>
</div>

{% schema %}
{
  "name": "Image + Caption",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "textarea",
      "id": "caption",
      "label": "Caption"
    }
  ],
  "presets": [
    {
      "name": "Image + Caption",
      "category": "Media"
    }
  ]
}
{% endschema %}
