{% assign image_1 = section.settings.image_1 %}
{% assign image_2 = section.settings.image_2 %}

{% assign text = section.settings.text %}
{% assign accent_text =  section.settings.accent_text %}
{% assign text_color = section.settings.text_color %}
{% assign accent_color = section.settings.accent_text_color %}
{% assign background_color = section.settings.background_color %}

{% assign instagram_link = section.settings.instagram_link %}

{% assign animation = section.settings.scroll_animation | append: 's' %}

<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{section.id}}"] {
      background-color: {{background_color}};
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="two-up-instagram" data-animated-background="{{ background_color }}">
  <div class="two-up-instagram">

    <div class="container-fluid">
      {% if text != blank %}
        <div class="two-up-title-wrapper">
          {% if instagram_link != blank %}
            <a href="{{ instagram_link }}" class="two-up__link">
          {% endif %}
              <div class="two-up__title h1" style="animation-duration: {{ animation }};">
                <span class="title-inner-wrapper u-text-{{ text_color }}">{{ text }}
                <span class="u-text-{{accent_color }}">{{ accent_text }}</span>&nbsp;</span>
              </div>

              <div class="two-up__title h1" style="animation-duration: {{ animation }};">
                <span class="title-inner-wrapper u-text-{{ text_color }}">{{ text }}
                <span class="u-text-{{accent_color }}">{{ accent_text }}</span>&nbsp;</span>
              </div>
          {% if instagram_link != blank %}
            </a>
          {% endif %}
        </div>
      {% endif %}
      <div class="row justify-content-center row-adjusted">
        <div class="col-lg-22 col-20">
          <div class="two-up-images-container">
            <div class="two-up__image frame frame--1x1">
              {% if instagram_link != blank %}
                <a href="{{ instagram_link }}">

                  {% render 'image_tag'
                              image: image_1,
                              object_fit: "cover"
                  %}
                </a>
              {% else %}
                  {% render 'image_tag'
                              image: image_1,
                              object_fit: "cover"
                  %}
              {% endif %}
            </div>

            <div class="two-up__image frame frame--1x1">
              {% if instagram_link != blank %}
                <a href="{{ instagram_link }}">

                  {% render 'image_tag'
                              image: image_2,
                              object_fit: "cover"
                  %}
                </a>
              {% else %}
                  {% render 'image_tag'
                              image: image_2,
                              object_fit: "cover"
                  %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "2 UP - Instagram",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "accent_text",
        "label": "Accent Text"
      },
      {
        "type": "url",
        "id": "instagram_link",
        "label": "Instagram Link"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image - 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image - 2"
      },
      {
        "type": "header",
        "content": "Content - Options"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Magenta", "value":"magenta"},
          {"label":"Sport-Orange", "value":"orange"},
          {"label":"Sport-Green", "value":"green"},
          {"label":"Sport-Yellow", "value":"yellow"},
          {"label":"Sport-Blue", "value":"blue"},
          {"label":"Cyan", "value":"cyan"},
          {"label": "Core-Grey-1", "value": "core-grey-1"},
          {"label": "Core-Grey-2", "value": "core-grey-2"},
          {"label": "Core-Grey-3", "value": "core-grey-3"}
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "accent_text_color",
        "label": "Accent Text Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Magenta", "value":"magenta"},
          {"label":"Sport-Orange", "value":"orange"},
          {"label":"Sport-Green", "value":"green"},
          {"label":"Sport-Yellow", "value":"yellow"},
          {"label":"Sport-Blue", "value":"blue"},
          {"label":"Cyan", "value":"cyan"},
          {"label": "Core-Grey-1", "value": "core-grey-1"},
          {"label": "Core-Grey-2", "value": "core-grey-2"},
          {"label": "Core-Grey-3", "value": "core-grey-3"}
        ],
        "default": "orange"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          {"label": "Primary-White", "value": "#ffffff"},
          {"label": "Primary-Black", "value": "#121212"},
          {"label": "Utility-Army", "value": "#2D402A"},
          {"label": "Utility-Blush", "value": "#DFBFC0"},
          {"label": "Utility-Crimson", "value": "#3F2727"},
          {"label": "Utility-Navy", "value": "#0A3055"},
          {"label": "Utility-Tan", "value": "#B9B093"},
          {"label": "Sport-Magenta", "value": "#FF00FF"},
          {"label": "Sport-Orange", "value": "#FF4500"},
          {"label": "Sport-Yellow", "value": "#FFEA06"},
          {"label": "Sport-Green", "value": "#BEFF00"},
          {"label": "Sport-Blue", "value": "#0036EB"},
          {"label": "Core-Grey-1", "value": "#f1f1f1"},
          {"label": "Core-Grey-2", "value": "#B1B7C2"},
          {"label": "Core-Grey-3", "value": "#393D49"}
        ],
        "default": "#3F2727"
      },
      {
        "type": "range",
        "id":   "scroll_animation",
        "min":  10,
        "max":  100,
        "step": 5,
        "unit": "s",
        "label": "Scrolling Text Duration",
        "default": 20
      }
    ],
    "presets": [{
      "name": "2 UP - Instagram",
      "category": "Media",
      "settings": {}
    }]
  }
{% endschema %}
