{% assign light_text = section.settings.light_text %}
{% assign title_color = section.settings.title_color %}
{% assign background_color = section.settings.background_color %}

{% assign eyebrow_icon = section.settings.eyebrow_icon %}
{% assign title = section.settings.title %}

<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{section.id}}"] {
      background-color: {{background_color}};
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" class="collection-grid {% if light_text == true%}light{% endif %}" data-section-type="collection-grid" data-animated-background="{{ background_color }}">
  <div class="container-fluid">
    <div class="row justify-content-center row-adjusted">

      {% if eyebrow_icon != blank %}
        <div class="collection-grid__eyebrow">
          {% render 'image_tag'
                    image: eyebrow_icon,
                    object_fit: "cover"
          %}
        </div>
      {% endif %}

      <div class="col-lg-22 col-20">
        {% if title != blank %}
          <div class="collection-grid__title h1 text-{{ title_color }}">{{ title}}</div>
        {% endif %}

        <div class="collection-grid-container">
          {% for i in (1..2) %}
            {% assign index_title = 'collection_title_' | append: i %}
            {% assign index_cta_text = 'cta_text_' | append: i %}
            {% assign index_cta_url =  'cta_url_' | append: i %}
            {% assign index_image =  'collection_image_' | append: i %}

            {% assign collection_title = section.settings[index_title] %}
            {% assign cta_text = section.settings[index_cta_text] %}
            {% assign cta_url = section.settings[index_cta_url] %}
            {% assign collection_image = section.settings[index_image] %}

            {% if collection_image != blank and collection_title != blank %}
              <div class="collection-tile">
                {% if cta_url != blank%}
                  <a href="{{ cta_url }}">
                {% endif %}

                  <div class="collection-tile__image frame frame--1x1">
                    {% render 'image_tag'
                              image: collection_image,
                              object_fit: "cover"
                    %}
                  </div>

                {% if cta_url != blank %}
                  </a>
                {% endif %}

                <h3 class="collection-tile__title">{{ collection_title}}</h3>

                {% if cta_url != blank and cta_text != blank %}
                  <a class="collection-tile__cta btn btn-link" href="{{ cta_url }}">
                  {{ cta_text }}
                  <span class="btn__ui">
                    {% include 'icon-arrow' %}
                  </span>
                </a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Grid",
    "settings": [
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "image_picker",
        "id": "eyebrow_icon",
        "label": "Eyebrow Icon"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Collection Tile - 1"
      },
      {
        "type": "text",
        "id": "collection_title_1",
        "label": "Collection Title"
      },
      {
        "type": "text",
        "id": "cta_text_1",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url_1",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "collection_image_1",
        "label": "Collection Background"
      },
      {
        "type": "header",
        "content": "Collection Tile - 2"
      },
      {
        "type": "text",
        "id": "collection_title_2",
        "label": "Collection Title"
      },
      {
        "type": "text",
        "id": "cta_text_2",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url_2",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "collection_image_2",
        "label": "Collection Background"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "light_text",
        "label": "Ligh Text",
        "info": "Light text affects the eyebrow and CTAs."
      },
      {
        "type": "select",
        "id": "title_color",
        "label": "Title Color",
        "options": [
          {"label":"White", "value":"white"},
          {"label":"Red", "value":"red"},
          {"label":"Cyan", "value":"cyan"},
          {"label":"Black", "value":"black"}
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          {"label": "White", "value":"#ffffff"},
          {"label": "Red", "value":"#ff2b00"},
          {"label": "Cyan", "value":"#009dcc"},
          {"label": "Black", "value":"#121212"},
          {"label": "Brown", "value": "#452b2b"},
          {"label": "Blue", "value": "#2c6275"},
          {"label": "Tan", "value": "#c3baa8"},
          {"label": "Gray", "value": "#424446"},
          {"label": "Brownish-Red", "value": "#752c2e"}
        ],
        "default": "#2c6275"
      }
    ],
    "presets": [
      {
        "name": "Collection Grid",
        "category": "Product",
        "settings": {}
      }
    ]
  }
{% endschema %}
