{% assign image_1 = section.settings.image_1 %}
{% assign image_2 = section.settings.image_2 %}

{% assign text = section.settings.text %}
{% assign accent_text =  section.settings.accent_text %}
{% assign text_color = section.settings.text_color %}
{% assign accent_color = section.settings.accent_text_color %}
{% assign background_color = section.settings.background_color %}

{% assign instagram_link = section.settings.instagram_link %}

{% assign animation = section.settings.scroll_animation | append: 's' %}
{% assign animation_delay = animation | divided_by: 2 | append: 's' | prepend: '-' %}

<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{section.id}}"] {
      background-color: {{background_color}};
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="two-up-instagram" data-animated-background="{{ background_color }}">
  <div class="two-up-instagram">

    <div class="container-fluid">
      <div class="row justify-content-center">

        {% if text != blank %}
          <div class="two-up-title-wrapper col-24">
            {% if instagram_link != blank %}
              <a href="{{ instagram_link }}">
                <h2 class="two-up__title h1">
                  <span class="title-inner-wrapper text-{{ text_color }}" style="animation-duration: {{ animation }};">{{ text }}
                  <span class="text-{{accent_color }}">{{ accent_text }}</span>&nbsp;</span>
                </h2>


                <h2 class="two-up__title h1">
                  <span class="title-inner-wrapper text-{{ text_color }}" style="animation-duration: {{ animation }}; animation-delay: {{ animation_delay }}">{{ text }}
                  <span class="text-{{accent_color }}">{{ accent_text }}</span>&nbsp;</span>
                </h2>
              </a>
            {% else %}
                <h2 class="two-up__title h1">
                  <span class="title-inner-wrapper text-{{ text_color }}" style="animation-duration: {{ animation }};">{{ text }}
                  <span class="text-{{accent_color }}">{{ accent_text }}</span>&nbsp;</span>
                </h2>


                <h2 class="two-up__title h1">
                  <span class="title-inner-wrapper text-{{ text_color }}" style="animation-duration: {{ animation }}; animation-delay: {{ animation_delay }}">{{ text }}
                  <span class="text-{{accent_color }}">{{ accent_text }}</span>&nbsp;</span>
                </h2>
            {% endif %}
          </div>
        {% endif %}

        <div class="col-lg-22 col-20">
          <div class="two-up-images-container">
            <div class="two-up__image frame frame--1x1">
              {% if instagram_link != blank %}
                <a href="{{ instagram_link }}">

                  {% render 'image_tag'
                              image: image_1,
                              object_fit: "cover"
                  %}
                </a>
              {% else %}
                  {% render 'image_tag'
                              image: image_1,
                              object_fit: "cover"
                  %}
              {% endif %}
            </div>

            <div class="two-up__image frame frame--1x1">
              {% if instagram_link != blank %}
                <a href="{{ instagram_link }}">

                  {% render 'image_tag'
                              image: image_2,
                              object_fit: "cover"
                  %}
                </a>
              {% else %}
                  {% render 'image_tag'
                              image: image_2,
                              object_fit: "cover"
                  %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
{% schema %}
  {
    "name": "2 UP - Instagram",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "accent_text",
        "label": "Accent Text"
      },
      {
        "type": "url",
        "id": "instagram_link",
        "label": "Instagram Link"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image - 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image - 2"
      },
      {
        "type": "header",
        "content": "Content - Options"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Orange", "value":"red"},
          {"label":"Sport-Green", "value":"yellow"},
          {"label":"Sport-Blue", "value":"cyan"}
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "accent_text_color",
        "label": "Accent Text Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Orange", "value":"red"},
          {"label":"Sport-Green", "value":"yellow"},
          {"label":"Sport-Blue", "value":"cyan"}
        ],
        "default": "red"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          {"label": "Primary-White", "value":"#ffffff"},
          {"label": "Primary-Black", "value":"#121212"},
          {"label": "Utility-Charcoal", "value": "#424446"},
          {"label": "Utility-Army", "value": "#4A5D36"},
          {"label": "Utility-OffWhite", "value": "#F1F1F1"},
          {"label": "Utility-TealBlue", "value": "#2c6275"},
          {"label": "Utility-khaki", "value": "#C0B095"},
          {"label": "Utility-Crimson", "value": "#452b2b"},
          {"label": "Sport-Orange", "value":"#ff2b00"},
          {"label": "Sport-Green", "value": "#CCFF00"},
          {"label": "Sport-Blue", "value":"#009dcc"}
        ],
        "default": "#452b2b"
      },
      {
        "type": "range",
        "id":   "scroll_animation",
        "min":  10,
        "max":  100,
        "step": 5,
        "unit": "s",
        "label": "Scrolling Text Duration",
        "default": 20
      }
    ],
    "presets": [{
      "name": "2 UP - Instagram",
      "category": "Media",
      "settings": {}
    }]
  }
{% endschema %}
