{% assign title_color = section.settings.title_color %}
{% assign background_color = section.settings.background_color %}

{% assign eyebrow_icon = section.settings.eyebrow_icon %}
{% assign eyebrow = section.settings.eyebrow %}
{% assign title = section.settings.title %}

{% assign video_cover = section.settings.video_cover %}
{% assign video_url = section.settings.video_url %}
{% assign video_id = video_url | remove: "https://www.youtube.com/watch?v=" %}

{% assign title_tag = section.settings.title_tag %}
{% assign title_align = section.settings.title_align %}
{% assign cta_title = section.settings.cta_title %}
{% assign cta_url = section.settings.cta_url %}
{% assign header_position = section.settings.video_header_position %}

{% if title_tag == blank %}
  {% assign title_tag = "h2" %}
{% endif %}

{% if header_position == blank %}
  {% assign header_position = 'top' %}
{% endif %}

{% capture video_header %}
  <div class="video-section__header text-{{title_align}} video-section__header--{{header_position}}">
    {% if eyebrow != blank %}
      <span class="video-section__eyebrow h5">{{ eyebrow }}</span>
    {% endif %}

    {% if title != blank %}
      <{{title_tag}} class="video-section__title h1 text-{{ title_color }}">{{ title }}</{{title_tag}}>
    {% endif %}
  </div>
{% endcapture %}

<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{section.id}}"] {
      background-color: {{background_color}};
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" class="video-section" data-section-type="video" data-animated-background="{{ background_color }}">
  <div class="container-fluid">

    <div class="row justify-content-center row-adjusted">
      {% if eyebrow_icon != blank %}
        <div class="video-section__eyebrow-icon frame frame--4x3">
          {% render 'image_tag'
                    image: eyebrow_icon,
                    object_fit: "cover"
          %}
        </div>
      {% endif %}

      <div class="col-lg-22 col-20">

        {% if header_position == 'top' %}
          {{ video_header }}
        {% endif %}

        {% if video_url != blank %}
          <div class="video-section__video-cover frame frame--16x9" data-video-player-cover>
            {% render 'image_tag'
                      image: video_cover,
                      object_fit: 'cover'
            %}

            <button type="button" class="modal-video-player__play-button" data-toggle="modal" data-target="#video-modal-{{ section.id }}" data-video-play>
              {% include 'icon-play-full-color' %}
            </button>

            <div class="visual-play-button">
              {% include 'icon-play-full-color' %}
            </div>
          </div>

          <div class="modal modal--video fade" id="video-modal-{{ section.id }}" data-video-modal>
            <span class="video-eyebrow d-lg-none d-block">Video</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              {% include 'icon-close' %}
            </button>

            {% if cta_title != blank and cta_url != blank%}
              <a class="btn btn-link product-link d-lg-block d-none"href="{{ cta_url }}">
                {{ cta_title }}
                <span class="btn__ui">
                  {% include 'icon-arrow' %}
                </span>
              </a>
            {% endif %}

            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  {% if cta_title != blank and cta_url != blank%}
                    <a class="btn btn-link product-link d-lg-none d-xl-none d-block"href="{{ cta_url }}">
                      {{ cta_title }}
                      <span class="btn__ui">
                        {% include 'icon-arrow' %}
                      </span>
                    </a>
                  {% endif %}
                  <div id="video-player-{{ video_id }}" class="index-video-player frame frame--16x9" data-video-player data-video-id="{{ video_id }}" data-video-type="youtube" data-background="false" data-embed-color="ffffff">
                    <div class="video-player__embed" data-video-player-embed></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if header_position == 'bottom' %}
          {{ video_header }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "image_picker",
        "id": "eyebrow_icon",
        "label": "Eyebrow Icon",
        "info": "Icon appear on top-left hand side of the section."
      },
      {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Module Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          },
          {
            "value": "h5",
            "label": "h5"
          },
          {
            "value": "h6",
            "label": "h6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "select",
        "id": "title_align",
        "label": "Title Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "video_cover",
        "label": "Video Image"
      },
      {
         "id": "video_url",
         "type": "video_url",
         "label": "Video URL",
         "accept": ["youtube"]
      },
      {
        "type": "text",
        "id": "cta_title",
        "label": "CTA Title"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Url"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "select",
        "id": "title_color",
        "label": "Title Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Orange", "value":"red"},
          {"label":"Sport-Green", "value":"yellow"},
          {"label":"Sport-Blue", "value":"cyan"}
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          {"label": "Primary-White", "value":"#ffffff"},
          {"label": "Primary-Black", "value":"#121212"},
          {"label": "Utility-Charcoal", "value": "#424446"},
          {"label": "Utility-Army", "value": "#4A5D36"},
          {"label": "Utility-OffWhite", "value": "#F1F1F1"},
          {"label": "Utility-TealBlue", "value": "#2c6275"},
          {"label": "Utility-khaki", "value": "#C0B095"},
          {"label": "Utility-Crimson", "value": "#452b2b"},
          {"label": "Sport-Orange", "value":"#ff2b00"},
          {"label": "Sport-Green", "value": "#CCFF00"},
          {"label": "Sport-Blue", "value":"#009dcc"}
        ],
        "default": "#424446"
      }
    ],
    "presets": [{
      "name": "Video",
      "category": "Media",
      "settings": {}
    }]
  }
{% endschema %}





