{% assign light_text = section.settings.light_text %}
{% assign title_color = section.settings.title_color %}
{% assign background_color = section.settings.background_color %}

{% assign eyebrow_icon = section.settings.eyebrow_icon %}
{% assign title = section.settings.title %}
{% assign cg_title_tag = section.settings.title_tag %}
{% if cg_title_tag == blank %}
  {% assign cg_title_tag = 'h2' %}
{% endif %}

<style>
  {% if content_for_header contains 'designMode' or content_for_header contains 'preview_host' or content_for_header contains 'designModeScript' %}
    [data-section-id="{{section.id}}"] {
      background-color: {{background_color}};
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" class="collection-grid {% if light_text == true%}light{% endif %}" data-section-type="collection-grid" data-animated-background="{{ background_color }}">
  <div class="container-fluid">
    <div class="row justify-content-center row-adjusted">

      {% if eyebrow_icon != blank %}
        <div class="collection-grid__eyebrow">
          {% render 'image_tag'
                    image: eyebrow_icon,
                    object_fit: "cover"
          %}
        </div>
      {% endif %}

      <div class="col-lg-22 col-20">
        {% if title != blank %}
          <{{cg_title_tag}} class="collection-grid__title h1 u-text-{{ title_color }}">{{title}}</{{cg_title_tag}}>
        {% endif %}

        <div class="collection-grid-container">
          {% for i in (1..2) %}
            {% assign index_title = 'collection_title_' | append: i %}
            {% assign index_cta_text = 'cta_text_' | append: i %}
            {% assign index_cta_url =  'cta_url_' | append: i %}
            {% assign index_image =  'collection_image_' | append: i %}

            {% assign collection_title = section.settings[index_title] %}
            {% assign cta_text = section.settings[index_cta_text] %}
            {% assign cta_url = section.settings[index_cta_url] %}
            {% assign collection_image = section.settings[index_image] %}

            {% if collection_image != blank and collection_title != blank %}
              <div class="collection-tile">
                {% if cta_url != blank%}
                  <a href="{{ cta_url }}">
                    <div class="collection-tile__image frame frame--1x1">
                      {% render 'image_tag'
                                image: collection_image,
                                object_fit: "cover"
                      %}
                    </div>
                  </a>

                  <a href="{{ cta_url }}">
                    <span class="collection-tile__title h3">{{ collection_title}}</span>
                  </a>
                {% else %}
                  <div class="collection-tile__image frame frame--1x1">
                    {% render 'image_tag'
                              image: collection_image,
                              object_fit: "cover"
                    %}
                  </div>

                  <span class="collection-tile__title h3">{{ collection_title}}</span>
                {% endif %}

                {% if cta_url != blank and cta_text != blank %}
                  <a class="collection-tile__cta btn btn-link" href="{{ cta_url }}">
                  {{ cta_text }}
                  <span class="btn__ui">
                    {% include 'icon-arrow' %}
                  </span>
                </a>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Grid",
    "settings": [
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "image_picker",
        "id": "eyebrow_icon",
        "label": "Eyebrow Icon"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Module Title Tag",
        "options": [
          {
            "value": "h1",
            "label": "h1"
          },
          {
            "value": "h2",
            "label": "h2"
          },
          {
            "value": "h3",
            "label": "h3"
          },
          {
            "value": "h4",
            "label": "h4"
          },
          {
            "value": "h5",
            "label": "h5"
          },
          {
            "value": "h6",
            "label": "h6"
          }
        ],
        "default": "h2"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Collection Tile - 1"
      },
      {
        "type": "text",
        "id": "collection_title_1",
        "label": "Collection Title"
      },
      {
        "type": "text",
        "id": "cta_text_1",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url_1",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "collection_image_1",
        "label": "Collection Background"
      },
      {
        "type": "header",
        "content": "Collection Tile - 2"
      },
      {
        "type": "text",
        "id": "collection_title_2",
        "label": "Collection Title"
      },
      {
        "type": "text",
        "id": "cta_text_2",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url_2",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "collection_image_2",
        "label": "Collection Background"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "light_text",
        "label": "Ligh Text",
        "info": "Light text affects the eyebrow and CTAs."
      },
      {
        "type": "select",
        "id": "title_color",
        "label": "Title Color",
        "options": [
          {"label":"Primary-White", "value":"white"},
          {"label":"Primary-Black", "value":"black"},
          {"label":"Sport-Magenta", "value":"magenta"},
          {"label":"Sport-Orange", "value":"orange"},
          {"label":"Sport-Green", "value":"green"},
          {"label":"Sport-Yellow", "value":"yellow"},
          {"label":"Sport-Blue", "value":"blue"},
          {"label":"Cyan", "value":"cyan"},
          {"label": "Core-Grey-1", "value": "core-grey-1"},
          {"label": "Core-Grey-2", "value": "core-grey-2"},
          {"label": "Core-Grey-3", "value": "core-grey-3"}
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          {"label": "Primary-White", "value": "#ffffff"},
          {"label": "Primary-Black", "value": "#121212"},
          {"label": "Utility-Charcoal", "value": "#424446"},
          {"label": "Utility-Army", "value": "#2D402A"},
          {"label": "Utility-OffWhite", "value": "#F1F1F1"},
          {"label": "Utility-TealBlue", "value": "#2c6275"},
          {"label": "Utility-khaki", "value": "#C0B095"},
          {"label": "Utility-Blush", "value": "#DFBFC0"},
          {"label": "Utility-Crimson", "value": "#3F2727"},
          {"label": "Utility-Navy", "value": "#0A3055"},
          {"label": "Utility-Tan", "value": "#B9B093"},
          {"label": "Sport-Magenta", "value": "#FF00FF"},
          {"label": "Sport-Orange", "value": "#FF4500"},
          {"label": "Sport-Yellow", "value": "#FFEA06"},
          {"label": "Sport-Green", "value": "#BEFF00"},
          {"label": "Sport-Blue", "value": "#0036EB"},
          {"label": "Core-Grey-1", "value": "#f1f1f1"},
          {"label": "Core-Grey-2", "value": "#B1B7C2"},
          {"label": "Core-Grey-3", "value": "#393D49"}
        ],
        "default": "#2c6275"
      }
    ],
    "presets": [
      {
        "name": "Collection Grid",
        "category": "Product",
        "settings": {}
      }
    ]
  }
{% endschema %}
