{% assign s = section.settings %}

{% capture cards %}
{% for block in section.blocks %}
{% assign bs = block.settings %}

{% capture card_text_html %}
  {% if bs.cta_label != blank or bs.enable_mkt_link == true %}
    <a href="{{bs.cta_url}}"
      class="btn-link link-card__cta-label"
      {% if bs.enable_mkt_link == true %}
        data-toggle-mkt-drawer
        data-product-name="{{bs.mkt_product_name}}"
        data-variable_key="{{bs.variable_key}}"
      {% endif %}>
      {{ bs.cta_label }}
    </a>
  {% endif %}
    {% if bs.corner_small_text != blank  %}
      <div class="link-card__corner-label">
        {{ bs.corner_small_text }}
      </div>
    {% endif %}
  {% endcapture %}
  {% if s.enable_slider %}
    <div class="swiper-slide" data-slide {{block.shopify_attributes}}>
  {% else %}
    <div {{ block.shopify_attributes }}>
  {% endif %}
    <div class="link-card">
      <div class="link-card__image-container frame {{s.card_aspect_ratio}}">
        {% if bs.cta_url != blank or bs.enable_mkt_link == true or bs.enable_mentor_sub == true %}
          <a class="link-card__link"
            href="{{bs.cta_url | default: 'javascript:void(0);'}}"
            aria-title="{{bs.cta_label | default: bs.cta_ada_label }}"
            {% if bs.enable_mkt_link == true %}
              data-toggle-mkt-drawer
              data-product-name="{{bs.mkt_product_name}}"
              data-variable_key="{{bs.variable_key}}"
            {% endif %}
            {% if bs.enable_mentor_sub %}
              data-toggle-mentor-drawer
              {% assign mentor_info = pages[bs.mentors_page].metafields.custom_fields.mentors_list %}
              data-mentors-info='{{ mentor_info | json }}'
              data-mentor-id="{{bs.mentor_id}}"
            {% endif %}></a>
        {% endif %}

        <img data-src="{{bs.card_image | img_url: '600x' }}"
            alt="{{bs.card_image.alt}}"
            class="frame__inner link-card__image {% if s.enable_slider %}swiper-lazy {% else %} lazyload {% endif %}"
            data-image>
        {% if bs.category_url != blank and bs.category_label != blank or bs.enable_mkt_link == true or bs.enable_mentor_sub == true %}
          <a href="{{bs.category_url | default: 'javascript:void(0);'}}"
            class="link-card__category"
            {% if bs.enable_mkt_link == true %}
              data-toggle-mkt-drawer
              data-product-name="{{bs.mkt_product_name}}"
              data-variable_key="{{bs.variable_key}}"
            {% endif %}
            {% if bs.enable_mentor_sub %}
              data-toggle-mentor-drawer
              {% assign mentor_info = pages[bs.mentors_page].metafields.custom_fields.mentors_list %}
              data-mentors-info='{{ mentor_info }}'
              data-mentor-id="{{bs.mentor_id}}"
            {% endif %}
            >
            {{ bs.category_label }}
          </a>
        {% endif %}
        {% if card_text_html != blank %}
          <div class="link-card__bottom-text">
            {{ card_text_html }}
          </div>
        {% endif %}
      </div>
      {% if bs.bottom_text != blank %}
        <div class="link-card__outer-text">
          {{ bs.bottom_text }}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endcapture %}

<div id="link-card-slider-{{section.id}}" class="card-slider" data-section-type="link-card-slider" data-section-id="{{section.id}}">
  <style>
    #link-card-slider-{{section.id}} {
      background-color: {{s.bg_color}};
    }

    #link-card-slider-{{section.id}} {
      color: {{s.text_color}};
    }

  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="card-slider__heading">
        <div class="card-slider__info-container">
          {% if s.title != blank %}
            <{{s.title_tag}} class="card-slider__title h2">{{ s.title }}</{{s.title_tag}}>
          {% endif %}

          {% if s.heading_copy %}
          <p class="card-slider__copy p3">
            {{ s.heading_copy }}
          </p>
          {% endif %}
        </div>
        {% if s.heading_cta_title != blank and s.heading_cta_url != blank %}
          <div class="card-slider__cta-container">
            <a class="btn-link card-slider__button" href="{{s.heading_cta_url}}">{{s.heading_cta_title}}</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% if s.enable_slider %}
      <div class="row card-slider__slider swiper" data-slider>
        <div class="swiper-wrapper">
        {{ cards }}
        </div>
        <div class="swiper-scrollbar card-slider__scrollbar" data-scrollbar></div>
        <div class="card-slider__arrow card-slider__arrow--prev" data-arrow-prev></div>
        <div class="card-slider__arrow card-slider__arrow--next" data-arrow-next></div>
      </div>
    {% else %}
      <div class="row card-slider__grid-container">
        {{ cards }}
      </div>
    {% endif %}

  </div>
</div>

{% schema %}
{
	"name": "Link Cards Carousel",
	"settings": [{
			"type": "header",
			"content": "Layout"
		},
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable Slider",
      "default": true
    },
		{
			"type": "select",
			"id": "card_aspect_ratio",
			"label": "Card aspect ratio",
			"options": [{
          "value": "frame--1x1",
          "label": "1:1"
        },
        {
					"value": "frame--4x5",
					"label": "4:5"
				},
				{
					"value": "frame--9x16",
					"label": "9:16"
				}
			]
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text Color",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background Color",
			"default": "#393d49"
		},
		{
			"type": "select",
			"id": "title_tag",
			"label": "Section Title Tag",
			"options": [{
					"value": "h1",
					"label": "h1"
				},
				{
					"value": "h2",
					"label": "h2"
				},
				{
					"value": "h3",
					"label": "h3"
				},
				{
					"value": "h4",
					"label": "h4"
				},
				{
					"value": "h5",
					"label": "h5"
				},
				{
					"value": "h6",
					"label": "h6"
				}
			],
			"default": "h2",
			"info": "This will not change the text styling (font size)"
		},
		{
			"type": "header",
			"content": "Section Content"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Main Title"
		},
		{
			"type": "textarea",
			"id": "heading_copy",
			"label": "Heading Copy",
			"default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse et explicabo iste deserunt corrupti sed perspiciatis hic. "
		},
		{
			"type": "text",
			"id": "heading_cta_title",
			"label": "Heading CTA Title",
			"default": "CTA Title"
		},
		{
			"type": "url",
			"id": "heading_cta_url",
			"label": "Heading CTA URL"
		}
	],
  "blocks": [
    {
     "name": "Card",
     "type": "link-card",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "category_url",
          "label": "Category URL",
          "info": "Optional - Must be populated with the category Label or else the tag will not show"
        },
        {
          "type": "text",
          "id": "category_label",
          "label": "Category Label",
          "info": "Optional - Must be populated with the category URL or else the tag will not show"
        },
        {
          "type": "text",
          "id": "corner_small_text",
          "label": "Corner Small Text",
          "info": "Content displayed within the card, next to the card CTA (if exists)"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "CTA Label",
          "info": "Optional, if not present bottom right corner link on the card will not be shown"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA Url",
          "info": "Links the entire card image"
        },
        {
          "type": "text",
          "id": "ada_label",
          "label": "CTA ADA Label",
          "info": "Used for ADA compliance, fill this up if the CTA label will not be populated"
        },
        {
          "type": "textarea",
          "id": "bottom_text",
          "label": "Bottom card text",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit corrupti earum, magnam ad maxime id"
        },
        {
          "type": "header",
          "content": "MKT Subscription Form",
          "info": "Settings to enable marketing subscription drawer"
        },
        {
          "type": "checkbox",
          "id": "enable_mkt_link",
          "label": "Enable Mkt Link",
          "default": false,
          "info": "Enables link to allow marketing subscriptions. Replaces any link set above for the card"
        },
        {
          "type": "text",
          "id": "mkt_product_name",
          "label": "Product Name",
          "info": "Value to be used as a reference to replace on the drawer if placeholder is placed. See MKT Subscription Drawer settings for details"
        },
        {
          "type": "header",
          "content": "Mentor subscription form",
          "info": "Settings to enable mentor subscription drawer"
        },
        {
          "type": "checkbox",
          "id": "enable_mentor_sub",
          "label": "Enable mentor subscription",
          "info": "Enables link to display the mentor subscription drawer"
        },
        {
          "type": "page",
          "id": "mentors_page",
          "label": "Mentors Page",
          "info": "Page containing all the mentors information,this page works the same as the shop the look page, where a single page contains all the mentors information"
        },
        {
          "type": "text",
          "id": "mentor_id",
          "label": "Mentor ID",
          "info": "Mentor identifier, used to pull all the mentor data"
        }
      ]
    }
  ],
 "presets": [
   {
     "category": "layout",
     "name":"Link card slider"
   }
 ]
}
{% endschema %}