<div data-section-id="{{ section.id }}" data-section-type="mobile-menu" class="main-navigation"> 

  <div class="drawer drawer--left" data-mobile-menu>

    <div class="drawer__inner">
      <div class="drawer__header">
        <a href="#" class="drawer__close" data-drawer-close>
          {% include 'icon-close' %}
        </a>        
        <h5 class="drawer__header-title">Shop</h5>
      </div>
      <div class="drawer__body">
        <div class="drawer__body-contents">
          {% comment %} Menus {% endcomment %}
          <div class="mobile-menu-block mobile-menu-block--primary">

            {% if section.settings.search_enabled %}
              <form action="/search" method="get" role="search">
                <div class="minimal-input-box">

                  <div class="search-icon">{% include 'icon-search' %}</div>
                  <input type="hidden" name="type" value="product,article" />
                  <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" class="minimal-input-box__input"/>
                  <button type="submit" class="minimal-input-box__submit">
                    {% comment %}{% include 'icon-search' %}{% endcomment %}
                    {% include 'icon-search-arrow' %}
                    <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                  </button>
                </div>
              </form>
            {% endif %}

            {% if section.settings.blue_linklist and linklists[section.settings.blue_linklist].links.size > 0 %}
              {% for link in linklists[section.settings.blue_linklist].links %}
                {% assign sublist_id = 'mobile-primary-menu-' | append: forloop.index %}
                <div class="panel panel--featured">
                  <div class="expandable-list">
                    <div class="expandable-list__header">
                      {% if link.links.size > 0 %}
                        <a href="#{{ sublist_id }}" class="expandable-list__header-title" data-toggle="collapse" aria-expanded="false" aria-controls="{{ sublist_id }}">
                          {{ link.title }} {% include 'icon-caret-down' %}
                        </a>
                      {% else %}
                        <a href="{{ link.url }}" class="expandable-list__header-title">{{ link.title }}</a>                      
                      {% endif %}
                    </div>
                    {% if link.links.size > 0 %}
                      <div id="{{ sublist_id }}" class="collapse">
                        <div class="expandable-list__body">
                          {% for sublink in link.links %}
                            <div class="expandable-list__item">
                              <a href="{{ sublink.url }}" class="expandable-list__item-title">{{ sublink.title }}</a>                          
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.settings.primary_linklist and linklists[section.settings.primary_linklist].links.size > 0 %}
              {% for link in linklists[section.settings.primary_linklist].links %}
                {% assign sublist_id = 'mobile-primary-menu-' | append: forloop.index %}
                <div class="panel">
                  <div class="expandable-list">
                    <div class="expandable-list__header">
                      {% if link.links.size > 0 %}
                        <a href="#{{ sublist_id }}" class="expandable-list__header-title" data-toggle="collapse" aria-expanded="false" aria-controls="{{ sublist_id }}">
                          {{ link.title }} {% include 'icon-caret-down' %}
                        </a>
                      {% else %}
                        <a href="{{ link.url }}" class="expandable-list__header-title">{{ link.title }}</a>                      
                      {% endif %}
                    </div>
                    {% if link.links.size > 0 %}
                      <div id="{{ sublist_id }}" class="collapse">
                        <div class="expandable-list__body">
                          {% for sublink in link.links %}
                            <div class="expandable-list__item">
                              <a href="{{ sublink.url }}" class="expandable-list__item-title">{{ sublink.title }}</a>                          
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="mobile-menu-block mobile-menu-block--secondary">
            <ul class="mobile-menu-list">

              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <li><a href="/account">Account Login</a></li>
                  <li>{{ 'Log out' | customer_logout_link }}</li>
                {% else %}
                  <li><a href="/account/login">Account Login</a></li>
                {% endif %}
              {% endif %}

              {% for link in linklists[section.settings.secondary_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Navigation Menu",
    "settings": [
      {
        "type": "checkbox",
        "id": "search_enabled",
        "label" : "Show search form",
        "default": true
      },   
      {
        "type": "link_list",
        "id": "blue_linklist",
        "label": "Featured Navigation Items",
        "info": "This items will appear blue and at the top of the menun."
      }, 
      {
        "type": "link_list",
        "id": "primary_linklist",
        "label": "Main Navigation Items",
        "info": "This items will appear under the blue items."
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Small Navigation Items",
        "info": "This items will appear under all the other items and will be smaller."
      }
    ]
  }
{% endschema %}
