{% comment %} Newsletter messaging {% endcomment %}
{% assign message_already_subscribed = section.settings.subscribe_already_subscribed_text %}
{% if message_already_subscribed == blank %}
  {% assign message_already_subscribed = 'general.newsletter.already_subscribed' | t %}
{% endif %}

{% assign message_success = section.settings.subscribe_success_text %}
{% if message_success == blank %}
  {% assign message_success = 'general.newsletter.subscribe_success' | t %}
{% endif %}

{% assign message_fail = 'general.newsletter.subscribe_fail' | t %}

<div data-section-id="{{ section.id }}"
     data-section-type="newsletter-modal"
     data-enabled="{{ section.settings.enabled }}"
     data-delay="{{ section.settings.delay }}"
     data-seen-expiration="{{ section.settings.seen_expiration }}"
     class="newsletter-popup">

  <div class="modal fade" id="newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="newsletter-modal-title" data-newsletter-modal>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <span class="popup-eyebrow d-lg-none d-block">SUBSCRIBE</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include 'icon-close' %}
          </button>
        </div>
        <div class="modal-body">
          {% if settings.klaviyo_list_id == blank %}
            <div class="alert alert-danger small">A valid newsletter form action URL is required for this section.  Please go to <strong>General Settings -> Mailing List</strong> in the theme editor to add this information</div>
          {% endif %}

          {% if section.settings.image %}
            <div class="modal-image frame frame--9x16">
              {% render 'image_tag'
                        image: section.settings.image,
                        object_fit: "cover"
              %}

              <div class="modal-icon-container d-block d-lg-none">
                <div class="modal-icon frame frame--16x9">
                  {% render 'image_tag'
                              image: section.settings.popup_icon,
                              object_fit: "contain"
                    %}
                </div>
              </div>
            </div>
          {% endif %}

          <div class="modal-inner-container">
            {% if section.settings.header_text != blank %}
              <h4 class="modal-title h4" id="newsletter-modal-title">{{ section.settings.header_text }}</h4>
            {% endif %}

            <div class="klaviyo-form-wrapper">
              <div class="klaviyo-form-WCdEBr"></div>
            </div>

            <div class="modal-icon-container d-lg-block d-none">
              <div class="modal-icon frame frame--16x9">
                {% render 'image_tag'
                            image: section.settings.popup_icon,
                            object_fit: "contain"
                  %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Newsletter Modal",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "range",
        "id": "delay",
        "min":  0,
        "max":  30,
        "step": 1,
        "unit": "s",
        "label": "Seconds to wait before displaying",
        "default": 3
      },
      {
        "type": "range",
        "id": "seen_expiration",
        "min":  0,
        "max":  60,
        "step": 1,
        "unit": "d",
        "label": "Days before showing again",
        "default": 30,
        "info": "If a user submits their email or closes the form, this is how long we wait before showing again.  Set to '0' to never show again."
      },
      {
         "type": "header",
         "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "header_text",
        "label": "Header text"
      },
      {
        "type": "image_picker",
        "id": "popup_icon",
        "label": "Icon"
      }
    ]
  }
{% endschema %}
