{% if section.settings.contact__instagram-check or
      section.settings.contact__twitter-check or
      section.settings.contact__email-check or
      section.settings.contact__address-check
%}

{% assign contact_link_check = true %}
{% else %}
{% assign contact_link_check = false %}
{% endif %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="page-contact">
  <div class="contact">
    <div class="container-fluid">
      <div class="row justify-content-center row-adjusted">
        <div class="col-xl-22 col-lg-22 col-md-20 col-sm-22 col-22">
          <div class="contact__banner-container">
            {% if section.settings.contact__banner-image %}
              {% render 'responsive-image'
                image: section.settings.contact__banner-image,
                alt: section.settings.contact__banner-image.alt,
                loading: "lazy",
                image_sizes: "100vw"
              %}
            {% endif %}
          </div>
          <div class="row justify-content-center">
            <div class="contact__titles-container col-xl-20 col-lg-20 col-md-24 col-sm-24 col-24">
              <span class="h5"> {{ page.title }} </span>
              <h1> {{ section.settings.title }} </h1>
              <p class="p2"> {{ section.settings.subtitle }} </p>
            </div>
          </div>
          <div class="contact__content">
            <div class="row justify-content-center">
              {% if contact_link_check == true %}
                <div class="contact__links-container col-xl-7 col-lg-7 col-md-24 col-sm-24 col-24">
                  <ul class="contact__link-list">

                    {% if section.settings.contact__instagram-check %}
                      <li class="contact__link-item">
                        <span class="h6 contact__link-label">{{ 'contact.default.instagram_label' | t }}</span>
                        <a class="p2" href="{{ section.settings.contact__instagram-link }}">
                          {% if section.settings.contact__instagram-id %}
                            {{ section.settings.contact__instagram-id }}
                          {% else %}
                            {{ 'contact.default.instagram_default' | t }}
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}

                    {% if section.settings.contact__twitter-check %}
                    <li class="contact__link-item">
                      <span class="h6 contact__link-label">{{ 'contact.default.twitter_label' | t }}</span>
                      <a class="p2" href="{{ section.settings.contact__twitter-link }}">
                        {% if section.settings.contact__twitter-id %}
                          {{ section.settings.contact__twitter-id }}
                        {% else %}
                          {{ 'contact.default.twitter_default' | t }}
                        {% endif %}
                      </a>
                    </li>
                    {% endif %}

                    {% if section.settings.contact__email-check %}
                    <li class="contact__link-item">
                      <span class="h6 contact__link-label">{{ 'contact.default.email_label' | t }}</span>
                      <p2 class="p2">
                          {% if section.settings.contact__email-id %}
                            {{ section.settings.contact__email-id }}
                          {% else %}
                            {{ 'contact.default.email_default' | t }}
                          {% endif %}
                      </p2>
                    </li>
                    {% endif %}

                    {% if section.settings.contact__address-check %}
                    <li class="contact__link-item">
                      <span class="h6 contact__link-label">{{ 'contact.default.address_label' | t }}</span>
                      <p2 class="p2">
                          {% if section.settings.contact__address-id %}
                            {{ section.settings.contact__address-id }}
                          {% else %}
                            {{ 'contact.default.address_default' | t }}
                          {% endif %}
                      </p2>
                    </li>
                    {% endif %}

                  </ul>
                </div>
              {% endif %}
                <div class='contact__form-container {%if contact_link_check %}col-xl-17 col-lg-17 col-md-24 col-sm-24 col-24{%else%}col-xl-20 col-lg-20 col-md-24 col-sm-24 col-24{%endif%}'>
                  <div data-gorgias-contact-form-uid='ba9bzkua'></div>
                  <script
                    defer
                    src='https://contact.gorgias.help/api/contact-forms/loader.js?v=2'
                    data-gorgias-loader-contact-form
                  ></script>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Contact Page",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Default title"
      },
      {
        "id": "subtitle",
        "type": "textarea",
        "label": "Subtitle",
        "default": "Default subtitle"
      },
      {
        "type": "image_picker",
        "id": "contact__banner-image",
        "label": "Banner Image"
      },
      {
        "type": "checkbox",
        "id": "contact__instagram-check",
        "label": "Include Instagram reference",
        "default": false
      },
      {
        "id": "contact__instagram-id",
        "type": "text",
        "label": "Instagram Id"
      },
      {
        "id": "contact__instagram-link",
        "type": "url",
        "label": "Instagram link"
      },
      {
        "type": "checkbox",
        "id": "contact__twitter-check",
        "label": "Include Twitter reference",
        "default": false
      },
      {
        "id": "contact__twitter-id",
        "type": "text",
        "label": "Twitter Id"
      },
      {
        "id": "contact__twitter-link",
        "type": "url",
        "label": "Twitter link"
      },
      {
        "type": "checkbox",
        "id": "contact__email-check",
        "label": "Include email reference",
        "default": false
      },
      {
        "id": "contact__email-id",
        "type": "text",
        "label": "Email"
      },
      {
        "type": "checkbox",
        "id": "contact__address-check",
        "label": "Include address reference",
        "default": false
      },
      {
        "id": "contact__address-id",
        "type": "text",
        "label": "Address"
      }
    ]
  }
{% endschema %}
