{% assign show_banner = section.settings.banner_enabled %}
{% assign background_color = section.settings.background_color %}
{% assign banner_content = section.settings.banner_content %}
{% assign light_text = section.settings.light_text %}

{% assign animation_speed_mobile = section.settings.scroll_animation_mobile | append: 's' %}
{% assign animation_speed_desktop = section.settings.scroll_animation_desktop | append: 's' %}

{% capture marquee_content %}
  {% for block in section.blocks %}
    <div class="pencil-banner__content">
        {{ block.settings.banner_content }}
    </div>
    <div class="pencil-banner__content-divider"></div>
  {% endfor %}
{% endcapture %}

<div data-section-id="{{ section.id }}" data-section-type="pencil-banner">
  {% if show_banner == true %}
    <div class="pencil-banner {% if light_text == true %}pencil-banner--light{% endif %}" style="background-color: {{ background_color }};" data-pencil-banner>
      {% if section.blocks.size > 1 %}
        <div 
          class="pencil-banner__content-container" 
          style="--animation-duration-desktop: {{ animation_speed_desktop }}; --animation-duration-mobile: {{ animation_speed_mobile }};" 
          data-marquee-content-container>
          {{ marquee_content }}
          {{ marquee_content }}
        </div> 
        <div 
          class="pencil-banner__content-container" 
          style="--animation-duration-desktop: {{ animation_speed_desktop }}; --animation-duration-mobile: {{ animation_speed_mobile }};" 
          data-marquee-content-container>
          {{ marquee_content }}
          {{ marquee_content }}
        </div> 
      {% elsif section.blocks.size == 1 %}
        <div class="container">
          <div class="pencil-banner__content">{{ section.blocks[0].settings.banner_content }}</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Pencil Banner",
    "max_blocks": 4,
    "settings": [
      {
        "id": "banner_enabled",
        "type": "checkbox",
        "label": "Show Pencil Banner",
        "default": true
      },
      {
        "id": "light_text",
        "type": "checkbox",
        "label": "Light Text",
        "default": true
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": [
          { "value": "#f3f3f3", "label": "Gray" },
          { "value": "#121212", "label": "Black" },
          { "value": "#ccff00", "label": "Yellow" }
        ],
        "default": "#121212"
      },
      {
        "type": "range",
        "id":   "scroll_animation_mobile",
        "min":  10,
        "max":  200,
        "step": 5,
        "unit": "s",
        "label": "Scrolling Text Duration - Mobile",
        "default": 20
      },
      {
        "type": "range",
        "id":   "scroll_animation_desktop",
        "min":  10,
        "max":  200,
        "step": 5,
        "unit": "s",
        "label": "Scrolling Text Duration - Desktop",
        "default": 20
      }
    ],
    "blocks": [      
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "id": "banner_content",
            "type": "richtext",
            "label": "Content Richtext"
          }
        ]
      }
    ]
  }
{% endschema %}
