{% paginate search.results by 6 %}

<div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="search">
  <div class="container-fluid">
    <div class="row">
      <div class="col-22 offset-1">
        <form action="/search" method="get" role="search" data-search-form>
          <div class="minimal-input-box">

            <div class="search-icon">{% include 'icon-search' %}</div>
            <input type="hidden" name="type" value="product" />
            <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" class="minimal-input-box__input minimal-input-box__input--search" autocomplete="off" value="{{ search.terms }}" data-search-input>

            <div class="search-autocomplete-container" style="display: none;" data-autocomplete-container>
              <ul>
                <li class="autocomplete-item loader"></li>
                <li class="autocomplete-item loader"></li>
                <li class="autocomplete-item loader"></li>
              </ul>
            </div>

            <button type="submit" class="minimal-input-box__submit">
              {% include 'icon-arrow' %}
              <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    {% if search.performed %}
      <div class="search__results-header">
        <div class="row align-items-end">
          <div class="col-20 offset-2 col-lg-9 offset-lg-0 order-lg-2">
            <div class="search__count">
              {% if search.results_count > 0 %}
                {% if search.results_count == 1 %}
                  {{ 'general.search.results_for_singular_html' | t: terms: search.terms }}
                {% else %}
                  {{ 'general.search.results_for_html' | t: count: search.results_count, terms: search.terms }}
                {% endif %}
              {% endif %}
            </div>
          </div>

          {% if search.results.size > 0 %}
            <div class="col-20 offset-2 col-lg-13 offset-lg-1 order-lg-1 ">
              <div class="h2 search__title">
                Results:
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    {% endif %}

    {% if search.performed %}
      {% if search.results.size > 0 %}
        <div class="col-20 offset-2 col-lg-22 offset-lg-1">
          <div class="content-grid" data-content-grid>
            {% for product in search.results %}
              {% for option in product.options_with_values %}
                {% if option.name == 'Color' %}
                  {% assign has_color_option = true %}
                  {% assign option_handle = 'option' | append: forloop.index %}
                  {% assign product_colors = option.values %}

                  {% for color in product_colors %}
                    {% assign default_variant = blank %}
                    {% assign unavailable_variant = blank %}

                    {% for variant in product.variants %}
                      {% if variant[option_handle] == color %}
                        {% if variant.available == true %}
                          {% assign default_variant = variant %}
                        {% else %}
                          {% assign unavailable_variant = variant %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% comment %}Checks for color filtering{% endcomment %}
                    {% assign hide_card = false %}
                    {% assign color_downcase = color | downcase %}
                    {% if current_tags != blank %}
                      {% for current_tag in current_tags %}
                      {% assign current_tag_downcase = current_tag | downcase  %}
                        {% if current_tag_downcase contains 'color' and current_tag_downcase contains color_downcase %}
                          {% assign hide_card = false %}
                          {% break %}
                        {% else %}
                          {% assign hide_card = true %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <div class="content-grid__item {% if hide_card %} hide{% endif %}" data-grid-item>
                      {% include 'product-card',
                        product: product,
                        variant: default_variant,
                        unavailable_variant: unavailable_variant,
                        show_sizes: true,
                        show_colors: true,
                        show_tag: true,
                        color: color %}
                    </div>
                  {% endfor %}
                {% endif %}
                {% unless has_color_option %}
                  <div class="content-grid__item" data-grid-item>
                    {% include 'product-card',
                    product: product,
                    show_sizes: true,
                    show_tag: true %}
                  </div>
                {% endunless %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        {% if paginate.pages > 1 %}
          {% include 'load-more'
          card_selector: '[data-grid-item]',
          grid_container: '[data-content-grid]'
          %}
        {% endif %}

      {% else %}
       <p class="p1 text-center">No search results found</p>
      {% endif %}

    {% endif %}

  </div>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Search",
    "settings": []
  }
{% endschema %}
