<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
  {% render 'elevar-head' %}
  {% render 'elevar-head-listener' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ 'checkout.css' | asset_url | stylesheet_tag }}

    {{ checkout_scripts }}

    {%- comment -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'checkout.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ 'checkout.js' | asset_url }}"></script><![endif]-->
    {%- endcomment -%}

    <!-- Postscript SMS consent -->
    <script type="application/javascript" async src="https://sdk.postscript.io/integrations/sdk-min.js"></script>
    <!-- End Postscript SMS consent -->

    <!-- Site Retargeting Pixel (DSP) -->
    <script src="https://secure.adnxs.com/seg?add=31471266&t=1" type="text/javascript" defer></script>

    <!-- Pixel Tracker - Universal Pixel (Flip) -->
    <script src="https://tracker.pixeltracker.co/pixel.js"></script>
    <script>FLPIXEL.fire("975023b2-5a8e-4a2f-b9be-554b742d6e98", {"category": "pagevisit","subcategory": "checkout"});</script>

  </head>
  <body>
  {% render 'elevar-checkout-end' %}
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>
    {{ tracking_code }}

    <!-- Artsai Conversion Pixel for [lead] - Podcast -->
    <img src="https://data.adxcel-ec2.com/pixel/?ad_log=referer&action=lead&pixid=91d19b51-2e3c-47e3-95ed-e1e5c729f473" width="1" height="1" border="0">
  </body>
</html>

{{ 'idme-checkout-style.css' | asset_url | stylesheet_tag }}
{{ 'idme-checkout-template.js' | asset_url | script_tag }}