<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ 'checkout.css' | asset_url | stylesheet_tag }}
    
    {{ checkout_scripts }}

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'checkout.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{ 'checkout.js' | asset_url }}"></script><![endif]-->    
  </head>
  <body>

    {{ skip_to_content_link }}

    {% comment %}<div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>{% endcomment %}

  
    <div class="container-fluid container--checkout" data-content>

      <div class="logo-container">
        {{ content_for_logo }}
      </div>
        
      <div class="row">
        <div class="col-lg-22 col-20 offset-lg-1 offset-2">
          {{ order_summary_toggle }}
        </div>
      </div>

      <div class="row">
        <div class="col-lg-22 col-20 offset-lg-1 offset-2 checkout-inner-container">
          <div class="main col-lg-13" role="main">
            <div class="main__header">
              {{ breadcrumb }}
              {{ alternative_payment_methods }}
            </div>
            <div class="main__content">
              {{ content_for_layout }}
            </div>
          </div>
          <div class="sidebar col-lg-10" role="complementary">
            <div class="sidebar__header">
              {{ content_for_logo }}
            </div>
            <div class="sidebar__content">
              {{ content_for_order_summary }}
            </div>
          </div>
        </div>
        <div class="main__footer col-lg-22 col-20 offset-lg-1 offset-2">
          {{ content_for_footer }}
        </div>
      </div>      
    </div>

    {{ tracking_code }}

  </body>
</html>
