<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {% render 'elevar-head' %}
  {% render 'elevar-head-listener' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16' }}">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &vert; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        adding: {{ 'products.product.adding' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      accountsEnabled: {{ shop.customer_accounts_enabled | json }},
      {% if customer %}
        customerName: {{ customer.name | json }},
        discountMessage: {{ settings.account_discount_message | json }},
        customerOrders: {{ customer.orders_count | json }},
      {% endif %}
      {% if settings.enable_gwp && settings.gift_product != blank %}
        {% assign gift_product = all_products[settings.gift_product] %}
        giftWithPurchase: {
          giftThreshold: {{ settings.gift_threshold | times: 100 }},
          {% if gift_product.has_only_default_variant %}
            variant_id: {{ gift_product.variants[0].id | json }},
            has_multiple_variants: false,
          {% else %}
            has_multiple_variants: true,
            variants: [
              {% for variant in gift_product.variants %}
                {
                  variant_id: {{ variant.id }},
                  variant_title: {{ variant.title | json }},
                  {%- comment -%}Contains the name of the variant options to match with the form options{%- endcomment -%}
                }
                {% unless forloop.last %}, {% endunless %}
              {% endfor %}
            ]
          {% endif %}
        },
      {% endif%}
      SizeSelector: {
        optionsDivider: {{ settings.size_selector_divider | default: "|" | json }},
        optionsHeaders: {{ settings.size_selector_headers | json }},
        sizeUnit: {{ settings.size_selector_default | json }},
      },
      PdpYmal: {
        enableSale: {{ settings.ymal_allow_sale | json}},
      },
    };

  {% if settings.yotpo_client_id != blank %}
    window.yotpoConfig = {
      appKey: '{{ settings.yotpo_client_id }}'
    };
  {% endif %}

  {% if settings.section_negative_threshold == true %}
    {% assign section_animation_threshold = settings.section_load_threshold | times: '-1' %}
  {% endif %}

  window.settings = {
    lowInventoryThreshold: {{ settings.low_inventory_threshold | default: 0 | json }},
    finalSaleMessage: {{ settings.final_sale_message | json }}
  }
  </script>

  <script src="{{ 'vendor.js' | asset_url }}"></script>

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% include 'third-party-scripts-head' %}
  {% unless  settings.show_findify_badges == true %}
    <style>
    .findify-badge-new {
      display: none !important;
    }
    </style>
  {% endunless %}
</head>

{% capture body_class %}
  template-{{ template.name | handle }}
  {% if template.suffix != blank %} template-{{ template.name | append: '-' | append: template.suffix | handle }} {% endif %}
  {% if canonical_url contains 'search-results' %}search-results-page{% endif %}
  {% if product.tags contains 'Footwear' %}footwear{% endif %}
{% endcapture %}

<body id="{{ page_title | handle }}" class="{{ body_class | strip | strip_newlines }}">
  {% render 'elevar-body-end' %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'pencil-banner' %}
  {% section 'mobile-menu' %}

  <div class="layout-wrapper">

    {% comment %} Select the appropriate 'header-*' section for the theme you are building and remove the files for the others {% endcomment %}
    {%- comment -%}
      {% section 'header-logo-center' %}
    {%- endcomment -%}
    {% section 'header-v3' %}
    {% section 'navigation-v2' %}
    {% if settings.enable_search %}
    <div id="autocomplete-wrapper"></div>
    {% endif%}
    <main role="main" id="MainContent">
      <div class="layout-main-content">
        {% if canonical_url contains '/challenge' %}
          {% if settings.account_pages_bg != blank %}
            <div class="account__bg-image-container" style="background-color: {{ settings.account_form_bg_color }};">
              {%- render 'responsive-image'
                class: 'account__bg-image'
                image: settings.account_form_bg,
                alt: "",
                image_sizes:"100vw"
              -%}
            </div>
          {% endif %}
          <div class="account__layout">
            <div class="container">
              <div class="row justify-content-center">
                <div class="account__info-container account__info-container--thin-padding">
                  <h1 class="account__header mb-0">Security Check:</h1>
        {% endif %}
        {{ content_for_layout }}
        {% if canonical_url contains '/challenge' %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </main>

    {% section 'footer' %}

  </div>

  {% unless template == 'cart' %}
    {% section 'ajax-cart' %}
  {% endunless %}

  <div id="drawer-container"></div>

  {% include 'third-party-scripts-foot' %}

  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=P5FsAy"></script>

  {% comment %}{% section 'newsletter-slideup' %}{% endcomment %}
  {% comment %} Findify Integraion {% endcomment %}
  {% include 'findify-tagging' %}

  <script type="application/json" data-size-drawer-settings>
    {
      "notifyText": {{ settings.bis_size_drawer_notification | json }}
    }
  </script>

  <script type="application/json" data-theme-settings-json>
    {
      "lowInventoryThreshold": {{ settings.low_inventory_threshold | json }}
      {%- if filter_url != blank -%}
        ,"filterUrl": {{ filter_url | json }}
      {%- endif -%}
    }
  </script>

  <script type="application/json" data-marketing-drawer-settings>
    {
      "notifyText": {{settings.mkt_drwr_notify_text | json }},
      "successMessage": {{settings.mkt_drwr_success_message | json }},
      "errorMessage": {{settings.mkt_drwr_error_message | json}},
      "footerMessage": {{settings.mkt_drwr_footer | json }}
    }
  </script>

  <script type="application/json" data-bis-drawer-settings>
    {
      "apiKey": {{ settings.klaviyo_api_key | json }},
      "notifyText": {{ settings.bis_notify_text | json }},
      "successMessage": {{ settings.bis_success_message | json }},
      "errorMessage": {{ settings.bis_error_message | json }},
      "footerMessage": {{ settings.bis_footer_message | json }}
    }
  </script>

  {% comment %} End Findify Integraion {% endcomment %}
  <!-- CRITEO START -->
  {% include 'criteo-tracking' %}
  <!-- CRITEO END -->
</body>
</html>
